﻿
@{
    ViewBag.Title = "ReporteComisiones";
    string parametroUpdate = NotaVenta.UTIL.ActualizacionJS.obtenerParametro();
}


<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />

<link href="~/Content/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="~/Content/assets/plugins/jquery-migrate/dist/jquery-migrate.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/moment/moment.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/moment/locale/es.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/tag-it/js/tag-it.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/select2/dist/js/select2.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-show-password/dist/bootstrap-show-password.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/clipboard/dist/clipboard.min.js?@parametroUpdate"></script>

<script src="~/Content/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/select2/dist/js/select2.min.js?@parametroUpdate"></script>
<!-- ================== END PAGE LEVEL JS ================== -->

<script src="~/WebJs/Comisiones/ReporteComisiones.js?@parametroUpdate"></script>

<div class="row col-lg-12">
    <div class="col-lg-12">
        <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Reporte Comisiones
                </h4>
                <div class="panel-heading-btn">
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive form-inline">
                    <table class="table table-profile">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Vendedores</label>
                                        <div class="col-lg-8">
                                            <select id="ddlVendedores" class="multiple-select2 form-control" style="width: 100%" multiple="multiple"></select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label">Seleccione Rango de Fecha</label>
                                        <div class="col-lg-8">
                                            <div id="rangoFecha" class="btn btn-default btn-block text-left f-s-12">
                                                <i class="fa fa-caret-down pull-right m-t-2"></i>
                                                <span></span>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td nowrap="nowrap">
                                    <button id="btnCrearReporte" type="button" class="btn btn-primary">Crear Reporte</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="alert alert-success" role="alert" id="divCreandoReporte" style="display: none">
                                        <h4 class="alert-heading">Generacion Reporte</h4>
                                        <p>Se esta generando reporte de comisiones, favor espere.</p>
                                        <hr>
                                        <p id="divCreandoReporteCargando" class="mb-0">
                                            <i class="fas fa-circle-notch fa-spin"></i>
                                            Creando...
                                        </p>
                                        <div id="divCreandoReporteCreado">
                                            <p class="mb-0">Reporte(s) creado(s)</p>
                                            <table class="table table-profile">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Codigo
                                                        </th>
                                                        <th>
                                                            Vendedor
                                                        </th>
                                                        <th>
                                                            Descarga/PDF
                                                        </th>
                                                        <th>
                                                            Descarga/XLSX
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody id="divCreandoReporteCreadoTabla"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" role="alert" id="divCreandoReporteError" style="display: none">
                                        <h4 class="alert-heading">Generacion Reporte</h4>
                                        <p id="divCreandoReporteErrorMensaje"></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>




