﻿@using UTIL.Models;
@using UTIL.Objetos;
@using NotaVenta.UTIL;
@{

    string parametroUpdate = NotaVenta.UTIL.ActualizacionJS.obtenerParametro();
    if (((BaseController)this.ViewContext.Controller).codigoVendedorUsuario() == null)
    {
        var URL = System.Configuration.ConfigurationManager.AppSettings.Get("url");
        Response.Redirect(URL);
    }

    ViewBag.Title = "Cotizacion";
    string anterior = ViewBag.Anterior;
    string NomAux = ViewBag.NomAux;
    string CodAux = ViewBag.CodAux;
    string RutAux = ViewBag.RutAux;
    string VenCodigo = ((BaseController)this.ViewContext.Controller).codigoVendedorUsuario();
    string VenDes = SessionVariables.SESSION_DATOS_USUARIO.VenDes.ToString();
    string user = SessionVariables.SESSION_DATOS_USUARIO.Nombre.ToString();
    CondicionVentasModels condicionVentaCliente = ViewBag.condicionCliente;
    List<CondicionVentasModels> condicion = ViewBag.condicion;
    int vcontacto = ViewBag.vcontactos;
    int vdirec = ViewBag.vdirecc;
    List<ClientesModels> listcontacto = ViewBag.contactos;
    List<ProjectManagerModels> listaCorreosManag = ViewBag.proManag;
    List<ListaDePrecioModels> listap = ViewBag.lista;
    List<CentrodeCostoModels> cc = ViewBag.cc;
    CentrodeCostoModels ccDefecto = cc.Where(m => Convert.ToString(m.DescCC).ToLower().Contains("santiago")).FirstOrDefault();
    List<CanalVentaModels> canalVentas = ViewBag.canalVentas;

    List<DireccionDespachoModels> direc = ViewBag.direccion;
    string fechaactual = DateTime.Now.ToString("yyyy-MM-dd");
    DateTime dia = DateTime.Now;
    dia = dia.AddDays(1);
    string fechamin = (DateTime.Now.Year + "-" + DateTime.Now.ToString("MM") + "-" + dia.ToString("dd")).ToString();
    string codigo = ViewBag.codigo;
    string nombre = ViewBag.nombre;
    string tituloanterior = ViewBag.anterior;
    string pageantegior = ViewBag.page;
    CreditoModel credito = ViewBag.Credito;
    int numero1 = 1;
    int total1 = 0;
    double impuesto = 0;
    double totalfinal = 0;
    int id = SessionVariables.SESSION_DATOS_USUARIO.IdUsuario;
    double SaldoTotal = ViewBag.SaldoTotal;

    ParametrosModels parametros = ViewBag.Parametros;

    double PorcentajeAtributoDescuento = Convert.ToDouble(ViewBag.ValorAtributo);
    VendedoresSoftlandModels vendedorCliente = ((VendedoresSoftlandModels)ViewBag.VendedorCliente);


    List<UTIL.Models.MonedaModel> monedas = ViewBag.Monedas;
    List<UTIL.Models.GrupoModel> grupos = ViewBag.Grupos;
    List<UTIL.Models.SubGrupoModel> subGrupos = ViewBag.SubGrupos;
}


<!-- ================== BEGIN PAGE CSS STYLE ================== -->
<link href="~/Content/assets/plugins/x-editable-bs4/dist/bootstrap4-editable/css/bootstrap-editable.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/address/address.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/lib/typeahead.js-bootstrap.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
<!-- ================== END PAGE CSS STYLE ================== -->
<!-- begin page-header -->
<h1 class="page-header">
    Cotizacion
</h1>
<!-- end page-header -->
<!-- begin row -->
<div class="row" id="divFormulacioCompletoIngresoDatos">
    <input type="hidden" id="EditaPrecioProducto" value="@parametros.EditaPrecioProducto.ToString()" />
    <input type="hidden" id="MuestraCondicionVentaCliente" value="@parametros.MuestraCondicionVentaCliente.ToString()" />
    <input type="hidden" id="MuestraCondicionVentaTodos" value="@parametros.MuestraCondicionVentaTodos.ToString()" />
    <input type="hidden" id="EditaDescuentoProducto" value="@parametros.EditaDescuentoProducto.ToString()" />
    <input type="hidden" id="MaximoDescuentoProducto" value="@parametros.MaximoDescuentoProducto" />
    <input type="hidden" id="CantidadDescuentosProducto" value="@parametros.CantidadDescuentosProducto" />
    <input type="hidden" id="MuestraStockProducto" value="@parametros.MuestraStockProducto.ToString()" />
    <input type="hidden" id="StockProductoEsMasivo" value="@parametros.StockProductoEsMasivo.ToString()" />
    <input type="hidden" id="StockProductoEsBodega" value="@parametros.StockProductoEsBodega.ToString()" />
    <input type="hidden" id="StockProductoCodigoBodega" value="@parametros.StockProductoCodigoBodega" />
    <input type="hidden" id="StockProductoCodigoBodegaAdicional" value="@parametros.StockProductoCodigoBodegaAdicional" />
    <input type="hidden" id="ControlaStockProducto" value="@parametros.ControlaStockProducto.ToString()" />
    <input type="hidden" id="ManejaTallaColor" value="@parametros.ManejaTallaColor.ToString()" />
    <input type="hidden" id="ManejaDescuentoTotalDocumento" value="@parametros.ManejaDescuentoTotalDocumento.ToString()" />
    <input type="hidden" id="CantidadDescuentosTotalDocumento" value="@parametros.CantidadDescuentosTotalDocumento" />
    <input type="hidden" id="ManejaLineaCreditoVendedor" value="@parametros.ManejaLineaCreditoVendedor.ToString()" />
    <input type="hidden" id="ManejaLineaCreditoAprobador" value="@parametros.ManejaLineaCreditoAprobador.ToString()" />
    <input type="hidden" id="ManejaCanalVenta" value="@parametros.ManejaCanalVenta.ToString()" />
    <input type="hidden" id="PermiteModificacionCondicionVenta" value="@parametros.PermiteModificacionCondicionVenta.ToString()" />
    <input type="hidden" id="AtributoSoftlandDescuentoCliente" value="@parametros.AtributoSoftlandDescuentoCliente" />
    <input type="hidden" id="PermiteCrearDireccion" value="@parametros.PermiteCrearDireccion.ToString()" />
    <input type="hidden" id="MuestraUnidadMedidaProducto" value="@parametros.MuestraUnidadMedidaProducto.ToString()" />
    <input type="hidden" id="PorcentajeAtributoDescuento" value="@ViewBag.ValorAtributo" />


    <input type="hidden" id="urlObtieneProductosPorListaPrecio" value="@Url.Action("ObtieneProductosPorListaPrecio", "Venta" )" />
    <input type="hidden" id="urlPorcentaje" value="@Url.Action("Porcentaje", "Venta" )" />
    <input type="hidden" id="urlBusquedaProducto" value="@Url.Action("ProductSearch","Venta")" />
    <input type="hidden" id="urlBusquedaRapidaProducto" value="@Url.Action("QuickProductSearch", "Venta")" />
    <input type="hidden" id="urlMultiplicar" value="@Url.Action("Multiplicar", "Venta")" />
    <input type="hidden" id="urlAgregarContacto" value="@Url.Action("AgregarContacto", "Venta")" />

    <input type="hidden" id="urlAgregarCotizacion" value="@Url.Action("AgregarCotizacion", "Cotizacion" )" />
    <input type="hidden" id="urlDetalleNotaVenta" value="@Url.Action("Detallenv", "Venta" )" />

    <input type="hidden" id="urlCalcularFila" value="@Url.Action("CalcularFila", "Venta")" />
    <input type="hidden" id="urlCalcularProductosAgregados" value="@Url.Action("CalcularProductosAgregados", "Venta")" />
    <input type="hidden" id="urlObtieneTallaColorProducto" value="@Url.Action("ObtieneTallaColorProducto", "Venta")" />
    <input type="hidden" id="CodAux" value="@CodAux" />
    <div class="row col-lg-12">
        <div class="col-lg-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Datos del Cliente
                    </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <input type="hidden" id="filtrarBusqueda" name="filtrarBusqueda" value="40">
                    <div class="table-responsive form-inline">
                        <table class="table table-profile">
                            <tbody>
                                <tr class="highlight">
                                    <td>Nro Solicitud</td>
                                    <td>
                                        <input type="number" name="nroSolicitud" id="nroSolicitud" class="form-control" tabindex="-1" />
                                        <input type="file" id="fileUpload" multiple />
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="highlight">
                                    <td>Cod. Cliente</td>
                                    <td>
                                        <input type="text" name="nombreCliente" id="nombreCliente" class="form-control" value="@codigo - @nombre" readonly="readonly" tabindex="-1" size="40" />
                                        <input type="hidden" name="txtcliente" id="txtcliente" value="@codigo" readonly="readonly" />
                                    </td>
                                    <td nowrap="nowrap">Vendedor Cliente</td>
                                    <td>
                                        @if (vendedorCliente != null)
                                        {
                                            @Html.Raw(vendedorCliente.VenDes.Trim());
                                        }
                                        else
                                        {
                                            @Html.Raw("Sin Contacto");
                                        }
                                    </td>

                                    <td nowrap="nowrap">Atendido Por</td>
                                    <td>
                                        @VenDes
                                    </td>
                                </tr>
                                <tr class="highlight">


                                    <td nowrap="nowrap">Contacto</td>
                                    <td>
                                        @{
                                            try
                                            {
                                                if (vcontacto == 1)
                                                {
                                                    <select name="txtcontacto" id="txtcontacto" class="form-control">
                                                        <option selected value=""> -- Seleccione Contacto -- </option>
                                                        @{
                                                            for (int i = 0; i < listcontacto.Count; i++)
                                                            {
                                                                <option value="@listcontacto[i].NomCon" selected> @listcontacto[i].NomCon </option>
                                                            }
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    <input type="text" name="txtcontacto" id="txtcontacto" class="form-control" value="Sin Contacto" tabindex="-1" />
                                                }
                                            }
                                            catch (Exception)
                                            {
                                                <input type="text" name="txtcontacto" id="txtcontacto" value="" class="form-control" tabindex="-1" />
                                            }
                                        }
                                        <input type="hidden" id="txtVcontacto" name="txtVcontacto" class="form-control" value=@vcontacto>
                                        <button type="button" id="btnCrearContacto" class="btn btn-primary" data-toggle="modal" data-target="#Agrega_Contacto">Agregar Contacto</button>

                                    </td>
                                    @if (parametros.ManejaListaPrecios)
                                    {
                                        <td nowrap="nowrap">Lista de Precio</td>
                                        <td>
                                            <select name="cbxlista" class="form-control" id="cbxlista" tabindex="7">
                                                <option selected value="-1"> -- Seleccione Lista De Precio -- </option>
                                                @{
                                                    for (int i = 0; i < listap.Count; i++)
                                                    {
                                                        <option value="@listap[i].Codlista" selected> @listap[i].DesLista </option>
                                                    }
                                                }
                                            </select>
                                        </td>
                                    }
                                   

                                    <td nowrap="nowrap">Cond. Venta</td>
                                     <td>
                                        <select @Html.Raw(parametros.PermiteModificacionCondicionVenta ? "" : "disabled") name="cbxconven" id="cbxconven" class="form-control" tabindex="4">
                                            <option selected value="-1"> -- Seleccione Cond. Vta -- </option>
                                            @{
                                                for (int i = 0; i < condicion.Count; i++)
                                                {
                                                    string selected = (condicion[i].ConVta == condicionVentaCliente.ConVta) ? "selected" :  "Sin Condicion de Venta";

                                                    <option @selected value="@condicion[i].ConVta"> @condicion[i].CveDes </option>
                                                }
                                            }
                                        </select>
                                </tr>
                                <tr class="highlight">
                                    <td nowrap="nowrap">Fecha Pedido</td>
                                    <td><input type="date" class="form-control" name="txtfechapedido" value="@fechaactual" id="txtfechapedido" readonly="readonly" /></td>
                                    <td nowrap="nowrap">Fecha Entrega</td>
                                    <td><input type="date" class="form-control" name="txtfechaentrega" min=@fechamin value=@fechamin id="txtfechaentrega" onchange="fechaEntrega()" /></td>
                                    <td nowrap="nowrap">Fecha de Cierre</td>
                                    <td><input type="date" class="form-control" name="txtFechaCierre" min=@fechamin value=@fechaactual id="txtFechaCierre" /></td>
                                </tr>
                                <tr class="highlight">
                                    <td nowrap="nowrap">Observaci&oacute;n</td>
                                    <td><textarea class="form-control" name="txtobservacion" id="txtobservacion" rows="2"> </textarea></td>
                                    <td>Tipo de Moneda</td>
                                    <td>
                                        <select id="TipoMoneda" class="form-control" disabled>
                                            @for (int x = 0; x < monedas.Count; x++)
                                            {
                                                <option  value="@(monedas[x].CodigoMoneda)">@(monedas[x].SimboloMoneda + " - " + monedas[x].DescripcionMoneda)</option>
                                            }
                                        </select>
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="highlight">
                                    <td>Dirección de Despacho</td>
                                    <td colspan="3">
                                        <div class="row">
                                            <div class="col-lg-10">
                                                @{
                                                    try
                                                    {
                                                        if (vdirec == 1)
                                                        {
                                                            <select class="form-control" name="cbxDireccion" id="cbxDireccion" tabindex="9" style="width: 100%">
                                                                <option selected value="-1"> -- Seleccione Dirección de Despacho -- </option>
                                                                @{
                                                                    for (int i = 0; i < direc.Count; i++)
                                                                    {
                                                                        <option selected value="@direc[i].NomDch,@direc[i].ComDes,@direc[i].CiuDes"> @direc[i].DirDch, @Html.Raw(direc[i].ComDes == null ? "Sin Comuna" : @direc[i].ComDes), @Html.Raw(direc[i].CiuDes == null ? "Sin Ciudad" : @direc[i].CiuDes) </option>
                                                                    }
                                                                }

                                                            </select>
                                                        }
                                                        else
                                                        {
                                                            <input class="form-control" type="text" name="cbxDireccion" id="cbxDireccion" value="No Tiene Dirección Asociado" tabindex="-1" readonly="readonly" />
                                                        }

                                                    }
                                                    catch (Exception)
                                                    {

                                                    }
                                                }
                                            </div>
                                            <div class="col-lg-2">
                                                @if (parametros.PermiteCrearDireccion)
                                                {
                                                    <input type="button" id="btnAgregarDireccionDespacho" class="btn btn-primary" value="Agregar Direccion" />
                                                }
                                            </div>
                                        </div>
                                    </td>

                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12">
        <div class="col-lg-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Agregar Producto</h4>
                    <div class="panel-heading-btn">
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                    </div>
                </div>
                <div class="panel-body table-responsive ">
                    <input id="hfPrecioUnitarioConDescuento" type="hidden" value="" />
                    <input id="hfSubTotalConDescuento" type="hidden" value="" />
                    <div class="row">
                        <div class="col-lg-12">
                            <button class="btn btn-primary" id="btnAgregarProductoNuevo">Agregar nuevo producto</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <table id="user" class="table table-condensed table-bordered ">
                                <thead>
                                    <tr>
                                        <th style="display: none">Cod. Rap.</th>
                                        <th style=" width: 450px !important">Descripcion/Codigo</th>
                                        <th>Cant.</th>
                                        @if (parametros.MuestraStockProducto)
                                        {
                                            <th>Stock</th>
                                        }
                                        @if (parametros.MuestraUnidadMedidaProducto)
                                        {
                                            <th>U. deM</th>
                                        }
                                        <th>Neto</th>
                                        @if (parametros.ManejaValorAdicional)
                                        {
                                            <th>Valor Adicional</th>
                                        }
                                        <th>Sub Total</th>
                                        @if (PorcentajeAtributoDescuento > 0)
                                        {
                                            <th>Descuento Atributo (@PorcentajeAtributoDescuento%)</th>
                                        }
                                        <th>Descuen.(%)</th>
                                        <th>Total</th>
                                        <th>Fecha Entrega</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="display: none"><a href="javascript:;" id="txtIngresoCodigoRapido" data-type="text" data-pk="1" data-title="Cod Rap"></a></td>
                                        <!--<td><a href="javascript:;" id="txtIngresoDescripcionCodigo" data-type="text" data-pk="2" data-title="Descripcion / Codigo"></a></td>-->
                                        <td data-select2-id="277"><a href="javascript:;" id="txtIngresoDescripcionCodigo" data-type="select2" data-pk="2" data-value="BS" data-title="Seleccione Producto" class="editable editable-click" style=""></a></td>
                                        <td style="text-align: right; "><a href="javascript:;" id="txtIngresoCantidad" data-type="text" data-pk="3" data-title="Cantidad">1</a></td>
                                        <td style="text-align: right; @Html.Raw((!parametros.MuestraStockProducto) ? "display: none" : "")"><a href="javascript:;" id="txtIngresoStock" data-type="text" data-pk="4" data-title="Stock">0</a></td>
                                        <td style="text-align: right; @Html.Raw((!parametros.MuestraUnidadMedidaProducto) ? "display: none" : "")"><a href="javascript:;" id="txtIngresoUnidadDeMedida" data-type="text" data-pk="4" data-title="Unidad Medida"></a></td>
                                        <td style="text-align: right"><a href="javascript:;" id="txtIngresoNeto" data-type="text" data-pk="4" data-title="Neto">0</a></td>
                                        <td style="text-align: right; @Html.Raw((!parametros.ManejaValorAdicional) ? "display: none" : "")"><a href="javascript:;" id="txtIngresoValorAdicional" data-type="text" data-pk="4" data-title="Valor Adicional">0</a></td>
                                        <td style="text-align: right"><a href="javascript:;" id="txtIngresoSubTotal" data-type="text" data-pk="4" data-title="Sub Total">0</a></td>
                                        <td style="text-align: right; @Html.Raw(PorcentajeAtributoDescuento > 0 ? "" : "display: none")"><a href="javascript:;" id="txtIngresoDescuentoAtributo" data-type="text" data-pk="4" data-title="Descuento Atributo">0</a></td>
                                        <td style="text-align: right">
                                            <a href="javascript:;" id="txtIngresoDescuento" data-pk="4" data-title="Descuento"></a>
                                            <a href="javascript:;" id="txtIngresoDescuentoModal" style="display: none">Seleccionar Descuentos</a>
                                        </td>
                                        <td style="text-align: right"><a href="javascript:;" id="txtIngresoTotal" data-type="text" data-pk="4" data-title="Total">0</a></td>
                                        <td>
                                             <input type="date" class="form-control" name="fechaEntrega" min=@fechamin value=@fechaactual id="fechaEntrega"/>
                                        </td>
                                        <td>
                                            <input class="btn btn-primary" type="button" name="Agregar" value="(+)" onclick="agregarFilaProducto();">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row col-lg-12">
        <div class="col-lg-9">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">Productos ingresados</h4>
                    <div class="panel-heading-btn">
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <!-- begin table-responsive -->
                    <div class="table-responsive">
                        <table id="table" class="table">
                            <thead>
                                <tr>
                                    <th nowrap="" class="codigoTh">C&oacute;digo</th>
                                    <th nowrap="" class="descripcionTh">Descripci&oacute;n</th>
                                    <th nowrap="" class="tallaTh" style="@Html.Raw(parametros.ManejaTallaColor ? "" : "display: none")">Talla</th>
                                    <th nowrap="" class="ColorTh" style="@Html.Raw(parametros.ManejaTallaColor ? "" : "display: none")">Color</th>
                                    <th nowrap="" class="cantidadTh">Cantidad</th>
                                    <th nowrap="" class="unimedTh" style="@Html.Raw(parametros.MuestraUnidadMedidaProducto ? "" : "display: none")">Unidad Medida </th>
                                    <th nowrap="" classnowrap="" class="precioTh">Precio Unit Neto</th>
                                    <th nowrap="" class="subTotalTh">Subtotal Neto</th>
                                    <th nowrap="" class="unimedTh" style="@Html.Raw(PorcentajeAtributoDescuento > 0 ? "" : "display: none")">Descuento Atributo</th>
                                    <th nowrap="" class="subTotalTh">Descu. (%)</th>
                                    <th nowrap="" class="subTotalTh">Total</th>
                                    <th nowrap="" class="fechaEntregaTh">Fecha Entrega</th>
                                    <th nowrap="" class="accionesTh">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody id="generaTabla"></tbody>
                        </table>
                    </div>
                    <!-- end table-responsive -->
                </div>
                <!-- end panel-body -->
            </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">TOTALES</h4>
                    <div class="panel-heading-btn">
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>-->
                        <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="table-responsive">
                            <table id="user" class="table table-condensed table-bordered">
                                <tbody>
                                    <tr style="display: none" id="trDescuento1">
                                        <td class="tg-0lax">
                                            <b><span> Descuento N°1</span></b>
                                        </td>
                                        <td style="text-align: right" class="tg-0lax">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <input class="form-control input-sm" type="text" id="txtDescuentoTotal1" value="0" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr style="display: none" id="trDescuento2">
                                        <td class="tg-0lax">
                                            <b><span> Descuento N°2</span></b>
                                        </td>
                                        <td style="text-align: right" class="tg-0lax">
                                            <input class="form-control" type="text" id="txtDescuentoTotal2" value="0" />
                                        </td>
                                    </tr>
                                    <tr style="display: none" id="trDescuento3">
                                        <td class="tg-0lax">
                                            <b><span> Descuento N°3</span></b>
                                        </td>
                                        <td style="text-align: right" class="tg-0lax">
                                            <input class="form-control" type="text" id="txtDescuentoTotal3" value="0" />
                                        </td>
                                    </tr>
                                    <tr style="display: none" id="trDescuento4">
                                        <td class="tg-0lax">
                                            <b><span> Descuento N°4</span></b>
                                        </td>
                                        <td style="text-align: right" class="tg-0lax">
                                            <input class="form-control" type="text" id="txtDescuentoTotal4" value="0" />
                                        </td>
                                    </tr>
                                    <tr style="display: none" id="trDescuento5">
                                        <td class="tg-0lax">
                                            <b><span> Descuento N°5</span></b>
                                        </td>
                                        <td style="text-align: right" class="tg-0lax">
                                            <input class="form-control" type="text" id="txtDescuentoTotal5" value="0" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0lax">
                                            <input type="hidden" id="contador_registros" name="contador_registros" value=@numero1>
                                            <b><span> Sub-Total Neto</span></b>
                                        </td>
                                        <td style="text-align: right" class="tg-0lax">
                                            <h4><label id="lbtotal">0</label></h4>
                                            <input type="hidden" id="txttotal" name="txttotal" value=@total1>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0lax">
                                            <b><span> Impuesto</span></b>
                                        </td>
                                        <td style="text-align: right" class="tg-0lax">
                                            <h4><label id="lbimpuesto">0</label></h4>
                                            <input type="hidden" id="txtimpuesto" name="txtimpuesto" value=@impuesto>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0lax">
                                            <b><span> Total Final</span></b>
                                        </td>
                                        <td style="text-align: right" class="tg-0lax">
                                            <h4><label id="lbtotalfinal">0</label></h4>
                                            <input type="hidden" id="txttotalfinal" name="txttotalfinal" value=@totalfinal>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center">
                        <input class="btn btn-primary" id="btnCot" type="submit" value="Genera Cotizacion" onclick="agregarnotadeventa();">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="divAlertaOkGeneracionNV" style="display: none" class="alert alert-success" role="alert">
    <h4 class="alert-heading">Cotizacion Generada</h4>
    <p>Cotizacion generada(s) con exito <label id="divAlertaOkGeneracionNVPendiente">(enviado a aprobacion)</label></p>
    <div class="row" id="divAlertaOkGeneracionNVInterno">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
            <table id="tblResultadoAgregarNV" class="table table-condensed table-bordered">
                <thead>
                    <tr>
                        <th>N° Cotizacion</th>
                        <th>Descargar PDF</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <hr>
    <p class="mb-0">Para volver a generar una nueva cotizacion, presione <a href="javascript:location.reload()">aqui</a>.</p>
</div>
<a id="aModalAgregarProductoNuevo" style="display: none" href="#modalAgregarProductoNuevo" class="btn btn-sm btn-success" data-toggle="modal">Talla Color</a>
<div class="modal fade" id="modalAgregarProductoNuevo" style="height: 100%">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Nuevo Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-4">
                        <span>Codigo Producto</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="modalAgregarProductoNuevoCodigo"  onchange="validaCodProd()" maxlength="20" class="form-control" type="text" value="" placeholder="Codigo de Producto" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-4">
                        <span>Codigo Fabrica</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="modalCodigoFabrica" onchange="validaFabCodProd()" maxlength="30" class="form-control" type="text" value="" placeholder="Codigo de Fabrica" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Descripcion Producto</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="modalAgregarProductoNuevoDescripcion" onchange="validaDesProd()" maxlength="50" class="form-control" type="text" value="" placeholder="Descripcion de Producto" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Grupo</span>
                    </div>
                    <div class="col-sm-8">
                        <select id="modalAgregarProductoNuevoGrupo" class="form-control">
                            @for (int x = 0; x < grupos.Count; x++)
                            {
                                <option value="@(grupos[x].CodigoGrupo)">@(grupos[x].DescripcionGrupo)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Sub Grupo</span>
                    </div>
                    <div class="col-sm-8">
                        <select id="modalAgregarProductoNuevoSubGrupo" class="form-control">
                            @for (int x = 0; x < subGrupos.Count; x++)
                            {
                                <option value="@(subGrupos[x].CodigoSubGrupo)">@(subGrupos[x].DescripcionSubGrupo)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Costo</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="modalAgregarProductoNuevoValorNeto" class="form-control" type="text" value="" onchange="calculoPrecioVenta()" placeholder="Ejemplo: 1000,23" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Valor Venta</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="modalAgregarProductoNuevoPrecioVenta" class="form-control" type="text" value="" readonly/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Tipo Moneda</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="hfMonedas" type="hidden" value="@Newtonsoft.Json.JsonConvert.SerializeObject(monedas)" />
                        <select id="modalAgregarProductoNuevoTipoMoneda" class="form-control">
                            @for (int x = 0; x < monedas.Count; x++)
                            {
                                <option value="@(monedas[x].CodigoMoneda)">@(monedas[x].SimboloMoneda + " - " + monedas[x].DescripcionMoneda)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalAgregarProductoNuevoAgregar" class="btn btn-success">Agregar Nuevo Producto</button>
                <a id="modalAgregarProductoNuevoCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<a id="aModalTallaColor" style="display: none" href="#modalTallaColor" class="btn btn-sm btn-success" data-toggle="modal">Talla Color</a>
<div class="modal fade" id="modalTallaColor" style="height: 100%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ingrese Talla y Color</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row" style="display: none">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-2">Bodegas</div>
                    <div class="col-lg-4">
                        <select id="modalTallaColorBodegas" class="form-control" style="display: none"></select>
                    </div>
                    <div class="col-lg-3"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div id="modalTallaColorControles" style="height: 500px; overflow-y: auto;" class="overflow-auto"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a id="modalTallaColorAgregarTallaColor" href="javascript:;" class="btn btn-success">Agregar Talla y Color</a>
                <a id="modalTallaColorCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<a id="aModalDescuentos" style="display: none" href="#modalDescuentos" class="btn btn-sm btn-success" data-toggle="modal">Descuentos</a>
<div class="modal fade" id="modalDescuentos">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ingrese descuentos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div id="modalDescuentosControles"></div>
            </div>
            <div class="modal-footer">
                <a id="modalDescuentosAgregarDescuentos" href="javascript:;" class="btn btn-success">Agregar Descuentos</a>
                <a id="modalDescuentosCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<a id="aModalModificarCantidad" style="display: none" href="#modalModificarCantidad" class="btn btn-sm btn-success" data-toggle="modal">Cantidades</a>
<div class="modal fade" id="modalModificarCantidad">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modificar Cantidad</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="modalModificarCantidadContador" />
                <div class="panel-body table-responsive">
                    <table class="table table-condensed table-bordered ">
                        <tbody>
                            <tr>
                                <td style="width: 40%">
                                    Codigo de Producto
                                </td>
                                <td>
                                    <span id="modalModificarCantidadCodigoProducto"></span>
                                </td>
                            </tr>
                            <tr name="modalModificarCantidadFilaTallaColor">
                                <td style="width: 40%">
                                    Talla
                                </td>
                                <td>
                                    <span id="modalModificarCantidadTalla"></span>
                                </td>
                            </tr>
                            <tr name="modalModificarCantidadFilaTallaColor">
                                <td style="width: 40%">
                                    Color
                                </td>
                                <td>
                                    <span id="modalModificarCantidadColor"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 40%">
                                    Cantidad
                                </td>
                                <td>
                                    <input id="modalModificarCantidadCantidad" class="form-control" type="number" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a id="modalModificarCantidadModificar" href="javascript:;" class="btn btn-success">Modificar Cantidad</a>
                <a id="modalModificarCantidadCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<a id="aModalDescuentosRealizados" style="display: none" href="#modalDescuentosRealizados" class="btn btn-sm btn-success" data-toggle="modal">Descuentos</a>
<div class="modal fade" id="modalDescuentosRealizados">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ingrese descuentos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div id="modalDescuentosRealizadosControles"></div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<a id="aModalAgregarDireccionDespacho" style="display: none" href="#modalAgregarDireccionDespacho" class="btn btn-sm btn-success" data-toggle="modal">Agregar Direccion Despacho</a>
<div class="modal fade" id="modalAgregarDireccionDespacho">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ingrese Direccion Despacho</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive form-inline">
                    <table class="table table-profile">
                        <tbody>
                            <tr class="highlight">
                                <td>Codigo Cliente</td>
                                <td><label id="modalAgregarDireccionDespachoCodigoCliente">@Html.Raw(CodAux)</label></td>
                            </tr>
                            <tr class="highlight">
                                <td>Direccion</td>
                                <td>
                                    <input type="text" id="modalAgregarDireccionDespachoDireccion" class="form-control" />
                                </td>
                            </tr>
                            <tr class="highlight">
                                <td>Ciudad</td>
                                <td>
                                    @Html.DropDownList("modalAgregarDireccionDespachoCiudad", (IEnumerable<SelectListItem>)ViewBag.Ciudad, "Seleccione Ciudad", new { @class = "form-control", @id = "modalAgregarDireccionDespachoCiudad", @name = "modalAgregarDireccionDespachoCiudad" })
                                </td>
                            </tr>
                            <tr class="highlight">
                                <td>Comuna</td>
                                <td>
                                    @Html.DropDownList("modalAgregarDireccionDespachoComuna", (IEnumerable<SelectListItem>)ViewBag.Comuna, "Seleccione Comuna", new { @class = "form-control", @id = "modalAgregarDireccionDespachoComuna", @name = "modalAgregarDireccionDespachoComuna" })
                                </td>
                            </tr>
                            <tr class="highlight">
                                <td colspan="2"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a id="modalAgregarDireccionDespachoAgregar" href="javascript:;" class="btn btn-success">Agregar Direccion Despacho</a>
                <a id="modalAgregarDireccionDespachoCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
<div id="modalSaldo" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalSaldoTitulo">Detalle Saldo Cliente - <small id="modalSaldoSubtitulo"></small></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblSaldos" class="table table-profile"></table>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="Agrega_Contacto"  class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar Contacto</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="x_content">
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblEditDetalle" class="table table-profile">
                                <thead>
                                    <tr class="highlight">
                                        <th>Nombre</th>
                                        <td>
                                            <input type="text" name="txtNombre" id="txtNombre" class="form-control" tabindex="-1" size="40" min="0" required />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Email</th>
                                        <td>
                                        <input type="text" name="txtEmail" id="txtEmail" class="form-control" tabindex="-1" size="90" min="0" required/>
                                        </td>
                                    </tr>
                                    <tr class="highlight">
                                        <th>Telefono</th>
                                        <td>
                                            <input type="text" name="txtFono" id="txtFono" class="form-control" tabindex="-1" size="90" required/>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default btn-warning" 
                        onclick="GrabaContacto()" data-dismiss="modal">Grabar</button>
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- end page container -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<script src="~/Content/assets/plugins/jquery-migrate/dist/jquery-migrate.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/bootstrap4-editable/js/bootstrap-editable.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/address/address.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/lib/typeahead.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/typeaheadjs/typeaheadjs.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/x-editable-bs4/dist/inputs-ext/wysihtml5/wysihtml5.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/select2/dist/js/select2.full.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/jquery-mockjax/dist/jquery.mockjax.min.js?@parametroUpdate"></script>
<script src="~/Content/assets/plugins/moment/moment.js?@parametroUpdate"></script>
<script src="~/WebJs/Cotizacion/Cotizacion.js?@parametroUpdate"></script>

<!-- ================== END PAGE LEVEL JS ================== -->
