﻿@using UTIL.Models;
@{
    /**/

    string parametroUpdate = NotaVenta.UTIL.ActualizacionJS.obtenerParametro();
    ViewBag.Title = "Parametros";
    ParametrosModels parametros = ViewBag.Parametros;
    List<menuModels> menus = ViewBag.Menus;
    List<EmpresaModel> empresas = ViewBag.Empresas;
}


<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        height: 80%;
        width: 100%;
    }

    th, td {
        border: 3px;
        text-align: center;
        padding: 3px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div class="row">
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
        <div class="panel panel-inverse" data-sortable-id="ui-widget-1">
            <div class="panel-heading">
                <h4 class="panel-title">Parametros</h4>
                <div class="panel-heading-btn">
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>-->
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-redo"></i></a>-->
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    <!--<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-danger" data-click="panel-remove"><i class="fa fa-times"></i></a>-->
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4 text-right align-middle">
                        Empresa
                    </div>
                    <div class="col-lg-8">
                        <select name="ddlEmpresas" id="ddlEmpresas" class="form-control" tabindex="4">
                            <option selected value="-1"> -- Seleccione Empresa -- </option>
                            @{
                                for (int i = 0; i < empresas.Count; i++)
                                {
                                    <option value="@empresas[i].IdEmpresa"> @empresas[i].NombreEmpresa </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
    </div>
</div>


<div id="divDatos" class="row" style="display: none">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a href="#Aplicativos-tab" data-toggle="tab" class="nav-link">
                    <span class="d-sm-none">Aplicativos</span>
                    <span class="d-sm-block d-none">Aplicativos</span>
                </a>
            </li>


            <li class="nav-item">
                <a href="#email-tab" data-toggle="tab" class="nav-link">
                    <span class="d-sm-none">Email</span>
                    <span class="d-sm-block d-none">Email</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#stock-tab" data-toggle="tab" class="nav-link">
                    <span class="d-sm-none">Stock</span>
                    <span class="d-sm-block d-none">Stock</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#otros-tab" data-toggle="tab" class="nav-link active">
                    <span class="d-sm-none">Otros</span>
                    <span class="d-sm-block d-none">Otros</span>
                </a>
            </li>
            <li class="nav-item">
                <input type="button" id="btnGuardarParametro" class="btn btn-primary" value="Guardar" />
            </li>
        </ul>
        <div class="tab-content">
            <!-- begin tab-pane -->

            <div class="tab-pane fade" id="Aplicativos-tab">
                <!--Nuevo panel dashboard-->
                <div class="row">
                    <!--Creo titulo del panel-->
                    <div class="col-lg-12 text-center">
                        <h2>Aplicativos</h2>

                    </div>
                </div>

                <div class="row">
                    <!--Hoja panel-->
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6"> Nota Venta</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="notaVenta" id="notaVenta" checked="checked" @*@Html.Raw(parametros.Booking ? "checked" : ""*@>
                                    <label for="notaVenta"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Dashboard</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="Dashboard" id="Dashboard" @*@Html.Raw(parametros.Booking ? "checked" : ""*@>
                                    <label for="Dashboard"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Dashboard Cobranza</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="DashboardCobranza" id="DashboardCobranza" @*@Html.Raw(parametros.Booking ? "checked" : ""*@>
                                    <label for="DashboardCobranza"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Reporte Stock</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="reporteStock" id="reporteStock" @*@Html.Raw(parametros.Booking ? "checked" : ""*@>
                                    <label for="reporteStock"></label>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>
                <div class="row">
                    <!--Hoja panel-->
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Cotizaciones</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="Cotizaciones" id="Cotizaciones" @*@Html.Raw(parametros.Booking ? "checked" : ""*@>
                                    <label for="Cotizaciones"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Reporte Saldo</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="ReporteSaldo" id="ReporteSaldo" @*@Html.Raw(parametros.Booking ? "checked" : ""*@>
                                    <label for="ReporteSaldo"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                

                <div id="DashboardPanel" hidden>

                    <div class="row">
                        <!--Hoja panel-->
                        <div class="col-lg-12">
                            <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                        </div>
                    </div>

                    <div class="row">
                        <!--Creo titulo del panel-->
                        <div class="col-lg-12 text-center">
                            <h3>Dashboard</h3>

                        </div>
                    </div>
                    <div class="row">
                        <!--Hoja panel-->
                        <div class="col-lg-12">
                            <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                        </div>
                    </div>

                    <div class="row">
                        <!-- Div de los switch-->
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-6">Mostrar Booking</div>
                                <div class="col-lg-6">
                                    <div class="switcher">
                                        <input type="checkbox" switcher name="Booking" id="Booking">
                                        <label for="Booking"></label>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-lg-6">Mostrar Backlog</div>
                                <div class="col-lg-6">
                                    <div class="switcher">
                                        <input type="checkbox" switcher name="Backlog" id="Backlog" @*@Html.Raw(parametros.Backlog ? "checked" : ""*@>
                                        <label for="Backlog"></label>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div> <!--Cierre panel Dashboard-->

            <div id="CobranzaPanel" hidden>
                <div class="row">
                    <!--Hoja panel-->
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
                <div class="row">
                    <!--Creo titulo del panel-->
                    <div class="col-lg-12 text-center">
                        <h3>Dashboard Cobranza</h3>


                    </div>
                </div>
                <div class="row">
                    <!--Hoja panel-->
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Mostrar Saldo Clientes</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="saldosClientes" id="saldosClientes" @Html.Raw(parametros.saldosClientes ? "checked" : "")>
                                    <label for="saldosClientes"></label>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Mostrar Saldo Proveedores</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="saldosProveedores" id="saldosProveedores" @Html.Raw(parametros.saldosProveedores ? "checked" : "")>
                                    <label for="saldosProveedores"></label>
                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>






            <div class="tab-pane fade" id="email-tab">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Email</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Se Envia Mail Cliente</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="EnvioMailCliente" id="EnvioMailCliente" @Html.Raw(parametros.EnvioMailCliente ? "checked" : "")>
                                    <label for="EnvioMailCliente"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Se Envia Mail Vendedor</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="EnvioMailVendedor" id="EnvioMailVendedor" @Html.Raw(parametros.EnvioMailVendedor ? "checked" : "")>
                                    <label for="EnvioMailVendedor"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Se Envia Mail Contacto</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="EnvioMailContacto" id="EnvioMailContacto" @Html.Raw(parametros.EnvioMailContacto ? "checked" : "")>
                                    <label for="EnvioMailContacto"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Se Envia Mail WebConfig</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="CorreosWebConfig" id="CorreosWebConfig" @Html.Raw(parametros.CorreosWebConfig ? "checked" : "")>
                                    <label for="CorreosWebConfig"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
            </div>
            <!-- end tab-pane -->
            <!-- begin tab-pane -->
            <div class="tab-pane fade" id="stock-tab">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Stock</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Muestra Stock de Producto</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="MuestraStockProducto" id="MuestraStockProducto" @Html.Raw(parametros.MuestraStockProducto ? "checked" : "")>
                                    <label for="MuestraStockProducto"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">El Stock de Producto Es Masivo</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="StockProductoEsMasivo" id="StockProductoEsMasivo" @Html.Raw(parametros.StockProductoEsMasivo ? "checked" : "")>
                                    <label for="StockProductoEsMasivo"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">El Stock Producto es por Bodega</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="StockProductoEsBodega" id="StockProductoEsBodega" @Html.Raw(parametros.StockProductoEsBodega ? "checked" : "")>
                                    <label for="StockProductoEsBodega"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Controla Stock de Producto</div>
                            <div class="col-lg-6">
                                <div class="switcher">
                                    <input type="checkbox" switcher name="ControlaStockProducto" id="ControlaStockProducto" @Html.Raw(parametros.ControlaStockProducto ? "checked" : "")>
                                    <label for="ControlaStockProducto"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Codigo Bodega Principal (stock de producto)</div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="StockProductoCodigoBodega" name="StockProductoCodigoBodega" value="@parametros.StockProductoCodigoBodega" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-lg-6">Codigo Bodegas adicionales (stock de producto) (separados por |)</div>
                            <div class="col-lg-6">
                                <input type="text" class="form-control" id="StockProductoCodigoBodegaAdicional" name="StockProductoCodigoBodegaAdicional" value="@parametros.StockProductoCodigoBodegaAdicional" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
            </div>
            <!-- end tab-pane -->
            <!-- begin tab-pane -->
            <div class="tab-pane fade active show" id="otros-tab">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Otros</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Multi Empresa</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="MultiEmpresa" id="MultiEmpresa" @Html.Raw(parametros.MultiEmpresa ? "checked" : "")>
                                            <label for="MultiEmpresa"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Administrador</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaAdministrador" id="ManejaAdministrador" @Html.Raw(parametros.ManejaAdministrador ? "checked" : "")>
                                            <label for="ManejaAdministrador"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Aprobador</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaAprobador" id="ManejaAprobador" @Html.Raw(parametros.ManejaAprobador ? "checked" : "")>
                                            <label for="ManejaAprobador"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Lista Clientes Vendedor</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ListaClientesVendedor" id="ListaClientesVendedor" @Html.Raw(parametros.ListaClientesVendedor ? "checked" : "")>
                                            <label for="ListaClientesVendedor"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Listar todos los clientes</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ListaClientesTodos" id="ListaClientesTodos" @Html.Raw(parametros.ListaClientesTodos ? "checked" : "")>
                                            <label for="ListaClientesTodos"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Valida Reglas de Negocio</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ValidaReglasNegocio" id="ValidaReglasNegocio" @Html.Raw(parametros.ValidaReglasNegocio ? "checked" : "")>
                                            <label for="ValidaReglasNegocio"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Lista de Precios</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaListaPrecios" id="ManejaListaPrecios" @Html.Raw(parametros.ManejaListaPrecios ? "checked" : "")>
                                            <label for="ManejaListaPrecios"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Edita Precio de Producto</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="EditaPrecioProducto" id="EditaPrecioProducto" @Html.Raw(parametros.EditaPrecioProducto ? "checked" : "")>
                                            <label for="EditaPrecioProducto"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Muestra Condicion de Venta Cliente</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="MuestraCondicionVentaCliente" id="MuestraCondicionVentaCliente" @Html.Raw(parametros.MuestraCondicionVentaCliente ? "checked" : "")>
                                            <label for="MuestraCondicionVentaCliente"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Muestra Condicion de Venta Todos</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="MuestraCondicionVentaTodos" id="MuestraCondicionVentaTodos" @Html.Raw(parametros.MuestraCondicionVentaTodos ? "checked" : "")>
                                            <label for="MuestraCondicionVentaTodos"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Edita Descuento de Producto</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="EditaDescuentoProducto" id="EditaDescuentoProducto" @Html.Raw(parametros.EditaDescuentoProducto ? "checked" : "")>
                                            <label for="EditaDescuentoProducto"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maximo Descuento de Producto</div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="MaximoDescuentoProducto" name="MaximoDescuentoProducto" value="@parametros.MaximoDescuentoProducto" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Cantidad Descuentos de Producto</div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="CantidadDescuentosProducto" name="CantidadDescuentosProducto" value="@parametros.CantidadDescuentosProducto" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Envio Obligatorio Aprobador</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="EnvioObligatorioAprobador" id="EnvioObligatorioAprobador" @Html.Raw(parametros.EnvioObligatorioAprobador ? "checked" : "")>
                                            <label for="EnvioObligatorioAprobador"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Talla Color</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaTallaColor" id="ManejaTallaColor" @Html.Raw(parametros.ManejaTallaColor ? "checked" : "")>
                                            <label for="ManejaTallaColor"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Descuento Total Documento</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaDescuentoTotalDocumento" id="ManejaDescuentoTotalDocumento" @Html.Raw(parametros.ManejaDescuentoTotalDocumento ? "checked" : "")>
                                            <label for="ManejaDescuentoTotalDocumento"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Cambio Vendedor de Cliente</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="CambioVendedorCliente" id="CambioVendedorCliente" @Html.Raw(parametros.CambioVendedorCliente ? "checked" : "")>
                                            <label for="CambioVendedorCliente"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Cantidad Descuentos Total Documento</div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="CantidadDescuentosTotalDocumento" name="CantidadDescuentosTotalDocumento" value="@parametros.CantidadDescuentosTotalDocumento" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Cantidad Lineas nota de Venta</div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="CantidadLineas" name="CantidadLineas" value="@parametros.CantidadLineas" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Canal Venta</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaCanalVenta" id="ManejaCanalVenta" @Html.Raw(parametros.ManejaCanalVenta ? "checked" : "")>
                                            <label for="ManejaCanalVenta"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Creacion Nota de Venta Usuarios Bloqueados</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="CreacionNotaVentaUsuariosBloqueados" id="CreacionNotaVentaUsuariosBloqueados" @Html.Raw(parametros.CreacionNotaVentaUsuariosBloqueados ? "checked" : "")>
                                            <label for="CreacionNotaVentaUsuariosBloqueados"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Creacion Nota de Venta Usuarios Inactivos</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="CreacionNotaVentaUsuariosInactivos" id="CreacionNotaVentaUsuariosInactivos" @Html.Raw(parametros.CreacionNotaVentaUsuariosInactivos ? "checked" : "")>
                                            <label for="CreacionNotaVentaUsuariosInactivos"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Permite Modificacion Condicion de Venta</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="PermiteModificacionCondicionVenta" id="PermiteModificacionCondicionVenta" @Html.Raw(parametros.PermiteModificacionCondicionVenta ? "checked" : "")>
                                            <label for="PermiteModificacionCondicionVenta"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Atributo Softland Descuento Cliente</div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="AtributoSoftlandDescuentoCliente" name="AtributoSoftlandDescuentoCliente" value="@parametros.AtributoSoftlandDescuentoCliente" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Permite Crear Direccion Despacho</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="PermiteCrearDireccion" id="PermiteCrearDireccion" @Html.Raw(parametros.PermiteCrearDireccion ? "checked" : "")>
                                            <label for="PermiteCrearDireccion"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Crear Cliente Con DV</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="CrearClienteConDV" id="CrearClienteConDV" @Html.Raw(parametros.CrearClienteConDV ? "checked" : "")>
                                            <label for="CrearClienteConDV"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Muestra Unidad de Medida Producto</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="MuestraUnidadMedidaProducto" id="MuestraUnidadMedidaProducto" @Html.Raw(parametros.MuestraUnidadMedidaProducto ? "checked" : "")>
                                            <label for="MuestraUnidadMedidaProducto"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Descuento Linea Directo Softland</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="DescuentoLineaDirectoSoftland" id="DescuentoLineaDirectoSoftland" @Html.Raw(parametros.DescuentoLineaDirectoSoftland ? "checked" : "")>
                                            <label for="DescuentoLineaDirectoSoftland"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Descuento Total Directo Softland</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="DescuentoTotalDirectoSoftland" id="DescuentoTotalDirectoSoftland" @Html.Raw(parametros.DescuentoTotalDirectoSoftland ? "checked" : "")>
                                            <label for="DescuentoTotalDirectoSoftland"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Linea Credito Vendedor</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaLineaCreditoVendedor" id="ManejaLineaCreditoVendedor" @Html.Raw(parametros.ManejaLineaCreditoVendedor ? "checked" : "")>
                                            <label for="ManejaLineaCreditoVendedor"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Linea Credito Aprobador</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaLineaCreditoAprobador" id="ManejaLineaCreditoAprobador" @Html.Raw(parametros.ManejaLineaCreditoAprobador ? "checked" : "")>
                                            <label for="ManejaLineaCreditoAprobador"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Agrega Cliente</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="AgregaCliente" id="AgregaCliente" @Html.Raw(parametros.AgregaCliente ? "checked" : "")>
                                            <label for="AgregaCliente"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Envia Correo Aprobador</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="EnvioMailAprobador" id="EnvioMailAprobador" @Html.Raw(parametros.EnvioMailAprobador ? "checked" : "")>
                                            <label for="EnvioMailAprobador"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Mostrar Saldos</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaSaldo" id="ManejaSaldo" @Html.Raw(parametros.ManejaSaldo ? "checked" : "")>
                                            <label for="ManejaSaldo"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Codigo Condicion de Venta</div>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="CodigoCondicionVentaPorDefecto" name="CodigoCondicionVentaPorDefecto" value="@parametros.CodigoCondicionVentaPorDefecto" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-6">Maneja Valor Adicional</div>
                                    <div class="col-lg-6">
                                        <div class="switcher">
                                            <input type="checkbox" switcher name="ManejaValorAdicional" id="ManejaValorAdicional" @Html.Raw(parametros.ManejaValorAdicional ? "checked" : "")>
                                            <label for="ManejaValorAdicional"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <hr style="-moz-border-bottom-colors: none; -moz-border-image: none; -moz-border-left-colors: none; -moz-border-right-colors: none; -moz-border-top-colors: none; border-color: #EEEEEE; -moz-use-text-color #FFFFFF; border-style: solid none; border-width: 1px 0; margin: 18px 0;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end tab-pane -->
        </div>
    </div>
</div>
<script src="~/WebJs/Administracion/Parametros.js?@parametroUpdate"></script>
