﻿@using UTIL.Models;
@{
    string parametroUpdate = NotaVenta.UTIL.ActualizacionJS.obtenerParametro();
    ViewBag.Title = "Usuarios";
    List<UsuariosModels> listarusuarios = ViewBag.usuarios;
    string[] idUsuarios = new string[listarusuarios.Count];

    List<SelectListItem> empresas = ViewBag.Empresas;
    if (empresas == null)
    {
        empresas = new List<SelectListItem>();
    }
}
<link href="~/Scripts/css/estilotables.css" rel="stylesheet" />
<script src="~/WebJs/Administracion/Usuarios.js?@parametroUpdate"></script>

<div id="content" class="content">
    <h1 class="page-header">@ViewBag.Message <small></small></h1>
    <div class="panel panel-inverse table-responsive">
        <div class="panel-heading">
            <h4 class="panel-title">Listado Usuario</h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            </div>
        </div>
        <div class="table-responsive">
            @{
                var grid = new WebGrid(ViewBag.usuarios, canPage: false);
            }
            @grid.GetHtml(
            htmlAttributes: new { id = "dataTable" },
            tableStyle: "table",
            columns:
            grid.Columns(
grid.Column(columnName: "IdUsuario", header: "Usuario", format: @<text>@item.Usuario</text>),
grid.Column(columnName: "TipoUsuario", header: "TipoUsuario", format: @<text>@item.tipoUsuario</text>),
grid.Column(columnName: "Correo", header: "Correo", format: @<text>@item.email</text>),
grid.Column(columnName: "Nombre", header: "Nombre", format: @<text>@item.Nombre</text>),
grid.Column(columnName: "Editar", header: "Editar", format: @<button class="btn btn-warning btn-m" data-toggle="modal" data-target="#modalEditarUsuario" onclick="ObtenerDatosUsuario(@item.id)">
            <span class="fas fa-pencil-alt fa-fw"></span>
        </button>),
grid.Column(columnName: "Empresa", header: "Empresa", format: @<button class="btn btn-warning btn-m" data-toggle="modal" data-target="#modalEmpresasUsuario" onclick="obtenerEmpresasUsuario(@item.id)">
            Empresas
        </button>),
grid.Column(columnName: "Eliminar", header: "Eliminar", format: @<button class="btn btn-@Html.Raw(item.Estado == 1 ? "danger":"success")" type="button" tooltip="@Html.Raw(item.Estado == 1 ? "Deshabilitar":"Habilitar")"
                                                                         onclick="EliminarUsuario(@item.id,@item.Estado, @Html.Raw(item.Estado == 1 ? "false":"true"))">
            @Html.Raw(item.Estado == 1 ? "Deshabilitar" : "Habilitar")
        </button>)))
        </div>
    </div>
    <div>
        <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AgregarUsuario">Agregar Usuario</button></center>
    </div>
</div>

<div id="AgregarUsuario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Agregar Usuario al Sistema</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Ingrese los datos solicitados</h4>
                <h5>Recuerde asignar el perfil que corresponda a cada usuario, de lo contrario no podra acceder al sistema.</h5>
                <div class="x_content">
                    <br />
                    <div class="form-horizontal form-label-left input_mask">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <input type="text" required="required" class="form-control has-feedback-left" id="txtUsuario" name="txtUsuario" placeholder="Usuario">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <input type="text" required="required" class="form-control has-feedback-left" id="txtNombre" name="txtNombre" placeholder="Nombre">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="password" required="required" class="form-control" id="txtContrasena" name="txtContrasena" placeholder="Contraseña">
                            @*<span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>*@
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="email" required="required" class="form-control" id="txtEmail" name="txtEmail" placeholder="Email">
                            @*<span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>*@
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">Seleccione Perfil</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.DropDownList("Perfil", (IEnumerable<SelectListItem>)ViewBag.Perfil, "Seleccione...", new { @class = "form-control", @ID = "Perfil", @Name = "Perfil" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">Seleccione Codigo de Vendedor</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.DropDownList("Vendedores", (IEnumerable<SelectListItem>)ViewBag.listaVendedores, "Seleccione...", new { @class = "form-control", @ID = "vendedoresSoftland", @Name = "vendedoresSoftland" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button class="btn btn-success" type="submit" id="Agregarusuario" onclick="AgregarUsuario()">Grabar</button>
                                <button class="btn btn-primary" type="reset">Resetear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalEditarUsuario" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modificar Usuario</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <br />
                    <div class="form-horizontal form-label-left input_mask">
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <input type="hidden" name="txtcodAux" id="IdUsuarioMod">
                            <label class="control-label"><b>Usuario: </b></label>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <input type="text" required="required" class="form-control has-feedback-left" id="UsuarioMod" name="txtUsuario" placeholder="Usuario">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label"><b>Nombre: </b></label>
                            <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                            <input type="text" required="required" class="form-control has-feedback-left" id="NombreMod" name="txtNombre" placeholder="Nombre">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label"><b>Contraseña: </b></label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            <input type="password" required="required" class="form-control" id="ContrasenaMod" name="txtContrasena" placeholder="Contraseña">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12 form-group has-feedback">
                            <label class="control-label"><b>Email: </b></label>
                            <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            <input type="email" required class="form-control" id="EmailMod" name="txtEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-2  col-xs-12"><b>Seleccione Perfil: </b></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                @Html.DropDownList("Perfil", (IEnumerable<SelectListItem>)ViewBag.Perfil, "Seleccione...", new { @class = "form-control", @ID = "PerfilMod", @Name = "Perfil" })
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                <button class="btn btn-success" type="submit" id="EditarUsuario" onclick="EditarUsuario()">Modificar</button>
                                <button class="btn btn-primary" type="reset">Resetear</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEmpresasUsuario">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Asociar Empresa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="table-responsive form-inline">
                    <input id="modalEmpresasUsuarioId" type="hidden" class="form-control" />
                    <table class="table table-profile">
                        <tbody>
                            <tr class="highlight">
                                <td>
                                    <select id="modalEmpresasUsuarioEmpresa" class="form-control">
                                        <option value="-1">Seleccione Empresa</option>
                                        @for (int y = 0; y < empresas.Count; y++)
                                        {
                                            <option value="@empresas[y].Value">@empresas[y].Text</option>
                                        }
                                    </select>
                                </td>
                                <td>
                                    <select id="modalEmpresasUsuarioVendedor" class="form-control">
                                        <option value="-1">Seleccione Vendedor</option>
                                    </select>
                                </td>
                                <td>
                                    <input id="modalEmpresasUsuarioAgregarFila" class="btn btn-primary" type="button"
                                           onclick="modalEmpresasUsuarioAgregarFilaClick()" value="Agregar" />
                                </td>
                            </tr>
                            <tr class="highlight">
                                <td colspan="3">
                                    <div class="table-responsive form-inline">
                                        <table id="modalEmpresasUsuarioDatos" class="table table-condensed table-bordered">
                                            <thead>
                                                <tr>
                                                    <th style=" width: 40% !important">Empresa</th>
                                                    <th style=" width: 40% !important">vendedor</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <a id="modalEmpresasUsuarioAgregar" href="javascript:;" class="btn btn-success">Guardar</a>
                <a id="modalEmpresasUsuarioCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
