﻿
@using UTIL.Models;
@using UTIL.Objetos;
@using NotaVenta.UTIL;
@{
    string parametroUpdate = NotaVenta.UTIL.ActualizacionJS.obtenerParametro();
    ViewBag.Title = "Consideraciones";
    List<UTIL.Models.ConsideracionesModel> consideraciones = ViewBag.Consideraciones;
}

<script src="~/WebJs/Mantenedor/Mantenedores.js"@parametroUpdate></script>

<div class="row col-lg-12">
    <div class="col-lg-12">
        <div class="panel panel-inverse">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Consideraciones
                </h4>
                <div class="panel-heading-btn">
                    <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div class="float-lg-right">
                    <br />
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AgregaConsideracion" onclick="limpiarAgregar()">Agregar</button>
                    <br />
                    <br />
                </div>
                <div class="table-responsive form-inline">

                    <table id="detalle" class="table table-condensed table-bordered ">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Titulo</th>
                                <th style=" width: 650px !important">Consideracion</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                @for (int x = 0; x < consideraciones.Count; x++)
                                {
                                 <tr>
                                    <td id="filaId_@x">@(consideraciones[x].Id)</td>
                                    <td id="filaTitulo_@x">@(consideraciones[x].Titulo)</td>
                                    @if (consideraciones[x].Consideracion.Length > 275)
                                    {
                                        <td id="Consideracion">@(consideraciones[x].Consideracion.Substring(0, 275) + "...")</td>

                                        <td hidden id="filaConsideracion_@x">@(consideraciones[x].Consideracion)</td>
                                    }
                                    else
                                    {
                                        <td id="filaConsideracion_@x">@(consideraciones[x].Consideracion)</td>
                                    }
                                <td>
                                    <input class="btn btn-primary" type="button" name="Editar"  value="Editar" onclick="MostarDatos(@consideraciones[x].Id, @x);">
                                </td>
                                <td>
                                    <input class="btn btn-primary" type="button" name="Eliminar" value="Eliminar" onclick="EliminarConsideracion(@consideraciones[x].Id);">
                                </td>
                                </tr>
                                }
                            
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="AgregaConsideracion" style="height: 100%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Consideracion de la Empresa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-1">
                        <span>Titulo</span>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" id="modelTitulo" maxlength="200" class="form-control" rows="10"/>
                    </div>
                    <div class="col-sm-8">
                        <span>Descripcion</span>
                    </div>
                    <div class="col-lg-12">
                        <textarea id="modelDescripcion" maxlength="2000" class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div> 
            <div class="modal-footer">
                <button id="modalAgregarConsideracion" onclick="GrabarConsideracion()" class="btn btn-success">Aceptar</button>
                <a id="modalAgregarProductoNuevoCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalModificarConsideracion" style="height: 100%">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Agregar Consideracion de la Empresa</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input type="text" id="editarId" class="form-control" hidden readonly/>
                <div class="row">
                    <div class="col-sm-1">
                        <span>Titulo</span>
                    </div>
                    <div class="col-lg-4">
                        <input type="text" id="editarTitulo" class="form-control"/>
                    </div>
                    <div class="col-sm-8">
                        <span>Descripcion</span>
                    </div>
                    <div class="col-lg-12">
                        <textarea id="editarDescripcion" maxlength="2000" class="form-control" rows="10"></textarea>
                    </div>
                </div>
            </div> 
            <div class="modal-footer">
                <button id="modalAgregarConsideracion" onclick="ModificarConsideracion()" class="btn btn-success">Aceptar</button>
                <a id="modalAgregarProductoNuevoCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>

