﻿@using UTIL.Models;
@using UTIL.Objetos;
@using NotaVenta.UTIL;
@{
    ViewBag.Title = "ValorMoneda";


    List<UTIL.Models.MonedaModel> monedas = ViewBag.Monedas;
}


 <div class="row col-lg-12">
        <div class="col-lg-12">
            <div class="panel panel-inverse">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        Valor monedas
                    </h4>
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="table-responsive form-inline">
                        <table class="table table-profile">
                            <tbody>
                                <tr class="highlight">
                                    <td>Tipo de Moneda</td>
                                    <td>
                                        <select id="TipoMoneda" class="form-control">
                                            @for (int x = 0; x < monedas.Count; x++)
                                            {
                                                <option value="@(monedas[x].CodigoMoneda)">@(monedas[x].SimboloMoneda + " - " + monedas[x].DescripcionMoneda)</option>
                                            }
                                        </select>
                                    </td>
                                </tr>
                                <tr class="highlight">
                                    <td nowrap="nowrap">Valor Moneda</td>
                                    <td>
                                        <input type="text" name="txtcontacto" id="txtcontacto" class="form-control" value="Sin Contacto" tabindex="-1" />
                                    </td>                                    
                                </tr>
                                <tr  class="highlight">
                                    <td></td>
                                    <td>
                                        <input type="button" id="btnGrabar" class="btn btn-primary" value="Guardar" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
          
             

