﻿@using UTIL.Models;
@using UTIL.Models;
@using NotaVenta.UTIL;
@{
    string parametroUpdate = NotaVenta.UTIL.ActualizacionJS.obtenerParametro();
    ViewBag.Title = "Cotizaciones Pendientes";
    List<NotadeVentaCabeceraModels> doc = ViewBag.doc;
    ParametrosModels parametros = ViewBag.Parametros;


    List<UTIL.Models.MonedaModel> monedas = ViewBag.Monedas;
    List<UTIL.Models.GrupoModel> grupos = ViewBag.Grupos;
    List<UTIL.Models.SubGrupoModel> subGrupos = ViewBag.SubGrupos;

    string fechaactual = DateTime.Now.ToString("yyyy-MM-dd");
    List<UTIL.Models.VendedorModels> Vendedores = ViewBag.Vendedores;
    UTIL.Models.VendedorModels VendedoresFiltro = new VendedorModels();

    if(ViewBag.venCod != "-1")
    {
        VendedoresFiltro = Vendedores.Find(m => m.VenCod == ViewBag.venCod);
    }
    //int tipoUsuario= ViewBag.TipoUsuario;

    var tipoUsuario = NotaVenta.UTIL.SessionVariables.SESSION_DATOS_USUARIO.TipoUsuario;
}
<link href="~/Scripts/css/estilotables.css" rel="stylesheet" />
<script src="~/WebJs/Reporte/CotizacionesPendientes.js?@parametroUpdate"></script>
<script src="~/WebJs/Reporte/FacturasPendientes.js?@parametroUpdate"></script>


<div id="content" class="content">
    <input type="hidden" id="filtroVenCod" value="@ViewBag.venCod" />
    <input type="hidden" id="urlTablaSaldos" value="@Url.Action("ObtenerSaldo", "Reporte")" />
    <input type="hidden" id="ControlaStockProducto" value="@parametros.ControlaStockProducto.ToString()" />
    <input type="hidden" id="urlObtieneProductosPorListaPrecio" value="@Url.Action("ObtieneProductosPorListaPrecio", "Venta" )" />
    <input type="hidden" id="MuestraUnidadMedidaProducto" value="@parametros.MuestraUnidadMedidaProducto.ToString()" />
    <input type="hidden" id="DescuentoLineaDirectoSoftland" value="@parametros.DescuentoLineaDirectoSoftland.ToString()" />
    <input type="hidden" id="DescuentoTotalDirectoSoftland" value="@parametros.DescuentoTotalDirectoSoftland.ToString()" />
    <input type="hidden" id="CantidadDescuentosProducto" value="@parametros.CantidadDescuentosProducto.ToString()" />
    <input type="hidden" id="CantidadDescuentosTotalDocumento" value="@parametros.CantidadDescuentosTotalDocumento.ToString()" />
    <input type="hidden" id="ManejaTallaColor" value="@parametros.ManejaTallaColor.ToString()" />
    @*<input type="hidden" id="tipoUsuario" value="@ViewBag.TipoUsuario" />*@
    <input type="hidden" id="tipoUsuario" value="@tipoUsuario" />
    <h1 class="page-header">@ViewBag.Message <small></small></h1>
    <div class="panel panel-inverse width-full">
        <div class="panel-heading">
            <h4 class="panel-title">Listado De Cotizaciones Pendientes </h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            </div>
        </div>

        <div class="table-responsive form-inline">
            <table class="table table-profile">
                <tbody>
                    <tr class="highlight">
                        <td>Num Cot</td>
                        <td>
                            <input type="text" name="txtNumCotizacion" id="txtNumCotizacion" class="form-control" tabindex="-1" size="40" min="0" />
                        </td>
                        <td>
                            <select class="form-control" id="listaVendedores">
                                @{
                                    if(ViewBag.venCod != "-1")
                                    {
                                        <option value="@VendedoresFiltro.VenCod" disabled>@VendedoresFiltro.VenCod -- @VendedoresFiltro.Nombre </option>
                                    }
                                    else
                                    {
                                        <option value="-1">-- Seleccione Vendedor --</option>
                                        for (int i = 0; i < Vendedores.Count; i++)
                                        {
                                            <option value="@Vendedores[i].VenCod" selected>@Vendedores[i].VenCod -- @Vendedores[i].Nombre </option>
                                        }
                                    }
                                }
                            </select>
                        </td>
                        <td nowrap="nowrap">Fecha Cot</td>
                        <td><input type="date" class="form-control" name="txtfechacotizacion" value="" id="txtfechacotizacion" /></td>
                        <td>Fecha Cierre</td>
                        <td><input type="date" class="form-control" name="txtfechacierre" value="" id="txtfechacierre" /></td>
                        <td>
                            <button class="btn btn-primary" id="btnBuscarCot" onclick="BuscarCotizacion()">Buscar</button>
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </tbody>
            </table>

        </div>

        <div class="table-responsive">

            <table id="dataPrueba" class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th hidden>Nº Int.</th>
                        <th>Cotizacion</th>
                        <th>RUT</th>
                        <th>Cliente</th>
                        <th>Fecha Generada</th>
                        <th>Vendedor</th>
                        @*<th>Direccion</th>*@
                        <th>Neto</th>
                        <th>Valor Final</th>
                        <th>Estado</th>
                        <th></th>

                        <th></th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        try
                        {
                            if (doc != null)
                            {
                                for (int i = 0; i < doc.Count; i++)
                                {
                                    <tr @Html.Raw((doc[i].ErrorAprobador) ? ("style='background-color: #FF7F7F' title='" + doc[i].ErrorAprobadorMensaje + "'") : "")>
                                        <td hidden>@doc[i].Id</td>
                                        <td>@doc[i].NroFinalCotizacion</td>
                                        <td>@doc[i].RutAux</td>
                                        <td>@doc[i].NomAux</td>
                                        <td>@doc[i].nvFem.ToShortDateString()</td>
                                        <td>@doc[i].VenDes</td>
                                         @*<td>@doc[i].DirAux</td>*@
                                         @*@if (@doc[i].VenDes == null)
                                            {
                                                <td>0</td>
                                            }
                                            else
                                            {
                                                <td>@doc[i].VenDes</td>
                                            }*@
                                        <td style='text-align: right;'>$@double.Parse(doc[i].nvNetoAfecto.ToString()).ToString("N0")</td>
                                        <td style='text-align: right;'>$@double.Parse(doc[i].nvMonto.ToString()).ToString("N0")</td>
                                        <td>@doc[i].EstadoNP</td>
                                        <td>
                                            <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#CabeceraCotizacion" onclick="EditarCotizacion(@doc[i].Id)">Editar</button>
                                        </td>
                                        <td>
                                            @if (doc[i].EstadoNP == "P")
                                            {
                                                <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#DetalleNotaPedido" onclick="DetalleCotizacion(@doc[i].Id,'@doc[i].RutAux', '@doc[i].EstadoNP', @NotaVenta.UTIL.SessionVariables.SESSION_DATOS_USUARIO.TipoUsuario)">@*<img src="~/Content/Image/zoom.png" />*@Detalle</button>
                                                if (NotaVenta.UTIL.SessionVariables.SESSION_DATOS_USUARIO.TipoUsuario != 2)
                                                {
                                                    <button class="btn btn-dark btn-xs" onclick="window.location='/Base/DescargarArchivosCotizacionAdjunto?IdCotizacion=@doc[i].Id'">Descargar</button>
                                                }
                                            }
                                            else
                                            {
                                                <button class="btn btn-warning btn-m" data-toggle="modal" data-target="#DetalleNotaPedido" onclick="DetalleNotaPedido(@(doc[i].Id), null, '@doc[i].EstadoNP', @NotaVenta.UTIL.SessionVariables.SESSION_DATOS_USUARIO.TipoUsuario)"><img src="~/Content/Image/zoom.png" /></button>
                                                <a>&nbsp;</a>
                                            }
                                        </td>
                                        <td>
                                            <button class="fa fa-download btn btn-warning btn-xs" onclick="DescargarPdf(@doc[i].Id)"></button> 
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        catch (Exception)
                        {
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>SIN DOCUMENTOS PENDIENTES</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@*</div>
                <br />
            </div>
        </div>
    </div>*@
@*</section>*@
<form id="sss" name="sss" action="@Url.Action("FacturasPendientes", "Reportes")">
    <input type="hidden" name="nvnumero" id="nvnumero" value="" />
    @*@Html.Hidden("RedirectTo", Url.Action("FacturasPendientes", "Reportes");*@
</form>

<div id="DetalleNotaPedido" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Detalle Cotizacion</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblDetalleNotaPedido" class="table table-profile"></table>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblDetalleNotaPedidoDetalle" class="table table-profile"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="CabeceraCotizacion" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cabecera Cotizacion</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblCabecera" class="table table-profile"></table>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="DetalleCotizacion" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Detalle Cotizacion</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblDetalle" class="table table-profile">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Codigo Producto</th>
                                        <th>Detalle Producto</th>
                                        @if (parametros.ManejaTallaColor) {
                                            <th>Talla</th>
                                            <th>Color</th>
                                        }
                                        <th>Cantidad</th>
                                        <th>Stock</th>
                                        @if (parametros.MuestraUnidadMedidaProducto) {
                                            <th>U.Medida</th>
                                        }
                                        <th>Precio</th>
                                        <th>Sub Total</th>
                                        @*@if (parametros.DescuentoLineaDirectoSoftland) {
                                            for (z = 0; z < parametros.CantidadDescuentosProducto; z++) {
                                                htmlDetalle = htmlDetalle + "<th>Desc. N°" + (z + 1) + " (%)</th>";
                                            }
                                        }
                                        @if (displayPrecioConDescuento) {
                                            htmlDetalle = htmlDetalle + "<th>Precio C/Descuento</th>";
                                        }*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="EditarDetalleCotizacion" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Detalle Cotizacion</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblEditDetalle" class="table table-profile">
                                <thead>
                                    <tr class="highlight">
                                    <th>Codigo Producto</th>
                                    <td>
                                        <input type="text" name="txtCodProducto" id="txtCodProducto" disabled class="form-control" tabindex="-1" size="40" min="0" />
                                        <input type="text" name="idDetalle" id="idDetalle" hidden />
                                    </td>
                                    </tr>
                                    
                                    <tr class="highlight">
                                        <th>Codigo Fabrica</th>
                                        <td>
                                            <input type="text" name="txtCodFabrica" id="txtCodFabrica" disabled class="form-control" tabindex="-1" size="40" min="0" />
                                        </td>
                                    </tr>

                                    <tr>
                                        <th>Nombre Producto</th>
                                        <td>
                                        <input type="text" name="txtProducto" id="txtProducto" disabled class="form-control" tabindex="-1" size="90" min="0" />
                                        </td>
                                    </tr>
                                    <tr class="highlight">
                                        <th>Grupo</th>
                                        <td>
                                            <select name="cbxGrupo" id="cbxGrupo" class="form-control"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>SubGrupo</th>
                                        <td>
                                            <select name="cbxSubGrupo" id="cbxSubGrupo" class="form-control"></select>
                                        </td>
                                    </tr>                                       
                                    <tr>
                                        <th>Valor Costo</th>
                                    <td>
                                        <input type="number" name="txtPrecio" id="txtPrecio" class="form-control" tabindex="-1" size="40" min="0" />
                                    </td>
                                    </tr>
                                    <tr>
                                        <th>Tipo de Moneda</th>
                                        <td>
                                            <select name="cbxtipomoneda" id="cbxtipomoneda" class="form-control"></select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Cantidad</th>
                                        <td>
                                        <input type="text" name="txtCantidad" id="txtCantidad" class="form-control" tabindex="-1" size="40" min="0" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>% de Descuento</th>
                                        <td>
                                            <input type="text" name="txtPorciento" id="txtPorciento" class="form-control" tabindex="-1" size="40" min="0"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Fecha Entrega</th>
                                        <td>
                                            <input type="date" class="form-control" id="txt_fecha_entrega"  />
                                        </td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default btn-warning" 
                        onclick="Detalle_X_Modificar()" data-dismiss="modal">Grabar</button>
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="modalSaldo" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalSaldoTitulo">Detalle Saldo Cliente - <small id="modalSaldoSubtitulo"></small></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblSaldos" class="table table-profile"></table>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<a id="aModalModificarProductoNuevo" style="display: none" href="#modalModificarProductoNuevo" class="btn btn-sm btn-success" data-toggle="modal">Talla Color</a>
<div class="modal fade" id="modalModificarProductoNuevo" style="height: 100%">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modificar Nuevo Producto</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="modalModificarProductoNuevoCodigoAntiguo" />
                <input type="hidden" id="modalModificarProductoNuevoIdNotaVenta" />
                <input type="hidden" id="modalModificarProductoNuevoIdDetalleNotaVenta" />
                <input type="hidden" id="modalModificarProductoNuevoLinea" />
                <div class="row">
                    <div class="col-sm-4">
                        <span>Codigo Producto</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="modalModificarProductoNuevoCodigo" maxlength="20" class="form-control" type="text" value="" placeholder="Codigo de Producto" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Descripcion Producto</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="modalModificarProductoNuevoDescripcion" maxlength="50" class="form-control" type="text" value="" placeholder="Descripcion de Producto" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Grupo</span>
                    </div>
                    <div class="col-sm-8">
                        <select id="modalModificarProductoNuevoGrupo" class="form-control">
                            @for (int x = 0; x < grupos.Count; x++)
                            {
                                <option value="@(grupos[x].CodigoGrupo)">@(grupos[x].DescripcionGrupo)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Sub Grupo</span>
                    </div>
                    <div class="col-sm-8">
                        <select id="modalModificarProductoNuevoSubGrupo" class="form-control">
                            @for (int x = 0; x < subGrupos.Count; x++)
                            {
                                <option value="@(subGrupos[x].CodigoSubGrupo)">@(subGrupos[x].DescripcionSubGrupo)</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Valor Neto</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="modalModificarProductoNuevoValorNeto" class="form-control" type="text" value="" placeholder="Ejemplo: 1000,23" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <span>Tipo Moneda</span>
                    </div>
                    <div class="col-sm-8">
                        <input id="hfMonedas" type="hidden" value="@Newtonsoft.Json.JsonConvert.SerializeObject(monedas)" />
                        <select id="modalModificarProductoNuevoTipoMoneda" class="form-control" disabled>
                            @for (int x = 0; x < monedas.Count; x++)
                            {
                                <option value="@(monedas[x].CodigoMoneda)">@(monedas[x].SimboloMoneda + " - " + monedas[x].DescripcionMoneda)</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="modalModificarProductoNuevoModificar" class="btn btn-success">Modificar Nuevo Producto</button>
                <a id="modalModificarProductoNuevoCerrar" href="javascript:;" class="btn btn-white" data-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
</div>
