﻿@using UTIL.Models;
@using NotaVenta.UTIL;
@{
    string parametroUpdate = NotaVenta.UTIL.ActualizacionJS.obtenerParametro();
    ViewBag.Title = "Facturas Pendientes";
    List<NotadeVentaCabeceraModels> doc = ViewBag.doc;
    ParametrosModels parametros = ViewBag.Parametros;
}
<link href="~/Scripts/css/estilotables.css" rel="stylesheet" />
<script src="~/WebJs/Reporte/FacturasPendientes.js?@parametroUpdate"></script>

<div id="content" class="content">
    <input type="hidden" id="ControlaStockProducto" value="@parametros.ControlaStockProducto.ToString()" />
    <input type="hidden" id="MuestraUnidadMedidaProducto" value="@parametros.MuestraUnidadMedidaProducto.ToString()" />
    <input type="hidden" id="DescuentoLineaDirectoSoftland" value="@parametros.DescuentoLineaDirectoSoftland.ToString()" />
    <input type="hidden" id="DescuentoTotalDirectoSoftland" value="@parametros.DescuentoTotalDirectoSoftland.ToString()" />
    <input type="hidden" id="CantidadDescuentosProducto" value="@parametros.CantidadDescuentosProducto.ToString()" />
    <input type="hidden" id="CantidadDescuentosTotalDocumento" value="@parametros.CantidadDescuentosTotalDocumento.ToString()" />
    <input type="hidden" id="ManejaTallaColor" value="@parametros.ManejaTallaColor.ToString()" />
    <h1 class="page-header">@ViewBag.Message <small></small></h1>
    <div class="panel panel-inverse width-full">
        <div class="panel-heading">
            <h4 class="panel-title">Listado De Notas de Venta Rechazadas </h4>
            <div class="panel-heading-btn">
                <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
            </div>
        </div>
        <div class="table-responsive">

            <table id="dataTable" class="table" cellspacing="0">
                <thead>
                    <tr>
                        <th>Nº Int.</th>
                        <th>Cliente</th>
                        <th>RUT</th>
                        <th>Fecha Generada</th>
                        <th>ListaPrecio</th>
                        <th>Vendedor</th>
                        <th>Neto</th>
                        <th>Valor Final</th>
                        <th>Estado</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        try
                        {
                            if (doc != null)
                            {
                                for (int i = 0; i < doc.Count; i++)
                                {
                                    <tr>
                                        <td>@doc[i].Id</td>
                                        <td>@doc[i].NomAux</td>
                                        <td>@doc[i].RutAux</td>
                                        <td>@doc[i].nvFem.ToShortDateString()</td>
                                        @if (@doc[i].CodLista == null)
                                        {
                                            <td>0</td>
                                        }
                                        else
                                        {
                                            <td>@doc[i].CodLista</td>
                                        }
                                        @if (@doc[i].VenDes == null)
                                        {
                                            <td>0</td>
                                        }
                                        else
                                        {
                                            <td>@doc[i].VenDes</td>
                                        }
                                        <td>$@double.Parse(doc[i].nvSubTotal.ToString()).ToString("N0")</td>
                                        <td>$@double.Parse(doc[i].TotalBoleta.ToString()).ToString("N0")</td>
                                        <td>@doc[i].EstadoNP</td>
                                        <td>
                                            @if (doc[i].EstadoNP == "R")
                                            {
                                                <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#DetalleNotaPedido" onclick="DetalleNotaPedido(@doc[i].Id)">@*<img src="~/Content/Image/zoom.png" />*@Detalle</button>
                                            }

                                        </td>
                                    </tr>
                                }
                            }
                        }
                        catch (Exception)
                        {
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>SIN DOCUMENTOS PENDIENTES</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
                @*</div>
                <br />
            </div>
        </div>
    </div>*@
@*</section>*@
<form id="sss" name="sss" action="@Url.Action("FacturasPendientes", "Reportes")">
    <input type="hidden" name="nvnumero" id="nvnumero" value="" />
    @*@Html.Hidden("RedirectTo", Url.Action("FacturasPendientes", "Reportes");*@
</form>

<div id="DetalleNotaPedido" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Detalle Nota de Pedido</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="x_content">
                    <br />
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblDetalleNotaPedido" class="table table-profile"></table>
                        </div>
                    </div>
                    <br />
                    <div class="col-lg-push-12">
                        <div class="table-responsive form-inline">
                            <table id="tblDetalleNotaPedidoDetalle" class="table table-profile"></table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCerrarModal" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>