﻿@using UTIL.Models;
@{
    ViewBag.Title = "InformacionReporteSaldos";
    Layout = null;
    int perfil = ViewBag.Perfil;
    string bandera = ViewBag.bandera;
    string snVendedor = "Sin Vendedor";
    string CodigoVendedor = ViewBag.CodigoVendedor;
    List<VendedoresModel> listaVendedores = ViewBag.listaVendedores;

    double total = 0;
    double totalProveedores = 0;


    // Informacion saldos

    List<InformacionSaldosModel> saldosCliente = ViewBag.saldosClientes;
    double saldoTotal = ViewBag.saldoTotal;

    List<InformacionSaldosModel> saldosProveedor = ViewBag.saldosProveedor;
    double saldoTotalProveedor = ViewBag.saldoTotalProveedor;

    // Informacion Parametros========
    ParametrosModels param = ViewBag.Parametros;
    //==============================



}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>@ViewBag.Title - DashBoard COBRANZA</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/Content/assets/css/default/app.min.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== wasap-->
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js" rel="stylesheet" type="text/css" />
    <link href="~/Content/assets/plugins/DataTables/media/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <!-- ================== BEGIN PAGE LEVEL CSS STYLE ================== -->
    <link href="~/Content/assets/plugins/jvectormap-next/jquery-jvectormap.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/nvd3/build/nv.d3.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <script src="~/Content/assets/js/app.min.js"></script>
    <script src="~/Content/assets/js/theme/default.min.js"></script>
    <!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
    <link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/ion-rangeslider/css/ion.rangeSlider.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/tag-it/css/jquery.tagit.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
    <link href="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />
    <!-- ================== END PAGE LEVEL STYLE ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Content/assets/plugins/jquery-migrate/dist/jquery-migrate.min.js"></script>
    <script src="~/Content/assets/plugins/moment/moment.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/plugins/ion-rangeslider/js/ion.rangeSlider.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Content/assets/plugins/jquery.maskedinput/src/jquery.maskedinput.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/plugins/pwstrength-bootstrap/dist/pwstrength-bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/assets/plugins/tag-it/js/tag-it.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/assets/plugins/select2/dist/js/select2.min.js"></script>
    <script src="~/Content/assets/plugins/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-show-password/dist/bootstrap-show-password.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
    <script src="~/Content/assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
    <script src="~/Content/assets/plugins/clipboard/dist/clipboard.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->
    <script src="~/WebJs/Reporte/InformacionReporteSaldos.js"></script>
    <script src="~/WebJS/Base.js"></script>
    <script src="~/WebJS/Reporte/Buscador.js"></script>
    <!-- ================== END PAGE LEVEL CSS STYLE ================== -->
    <style>
        .modal-body {
            height: 500px;
            width: 100%;
            overflow-y: scroll;
        }
    </style>

</head>
<body>
    <!-- begin #page-loader -->
    <div id="page-loader" class="fade show"><span class="spinner"></span></div>
    <!-- end #page-loader -->
    <!-- begin #page-container -->
    <div id="page-container" class="page-container fade page-without-sidebar page-header-fixed page-with-top-menu">
        <input type="hidden" id="urlSeleccionaEmpresa" value="@Url.Action("SeleccionaEmpresa", "Login" )" />
        <input type="hidden" id="urlHome" value="@Url.Action("Index", "Home" )" />
        <input type="hidden" id="txtCodVendedor" value="'@CodigoVendedor'" />
        <!-- begin #header -->
        <div id="header" class="header navbar-default">
            <!-- begin navbar-header -->
            <div class="navbar-header">
                <a href="@Url.Action("InformacionReporteSaldos", "Reporte")" class="navbar-brand"><span class="navbar-logo"></span><b>DASHBOARD COBRANZA</b></a>
                <button type="button" class="navbar-toggle" data-click="top-menu-toggled">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- end navbar-header -->
            <!-- begin header-nav -->
            <ul class="navbar-nav navbar-right">
                <li class="dropdown navbar-user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">

                        <h4 class="d-none d-md-inline">Opciones</h4> <b class="caret"></b>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="@Url.Action("LogOut", "Login")" class="dropdown-item">Cerrar Sesion</a>
                    </div>
                </li>
            </ul>
            <!-- end header-nav -->

        </div>
        <!-- end #header -->
        <!-- begin #sidebar -->
        <div id="top-menu" class="top-menu">
            <!-- begin nav -->
            <ul class="nav">
                @using NotaVenta.Helper
                @Html.Menu()
            </ul>
            <!-- end nav -->
        </div>
        <div id="content" class="content">
            <div class="d-sm-flex align-items-center mb-3">
                <a href="#" class="btn btn-inverse mr-2 text-truncate" id="FechaHasta">
                    <i class="fa fa-calendar fa-fw text-white-transparent-5 ml-n1"></i>
                    <span></span>
                    <b class="caret"></b>
                </a>


                <div>
                    <button id="GeneraDashBoard" type="button" onclick="generarDashBoard()" class="btn btn-primary">HASTA</button>
                    &nbsp;
                </div>

                <div class="alert alert-success" role="alert" id="divCreandoReporte" style="display: none">
                    <h4 class="alert-heading">Generando Reporte</h4>
                    <p>Se esta generando la informacion, favor espere.</p>
                    <hr>
                    <p id="divCreandoReporteCargando" class="mb-0">
                        <i class="fas fa-circle-notch fa-spin"></i>
                        Creando...
                    </p>
                    <p id="divCreandoReporteCreado" class="mb-0">Reporte creado, presione <a id="divCreandoReporteCreadoDescargar" class="btn btn-outline-success">AQUI</a> para descargar su reporte</p>
                </div>
                <div class="alert alert-danger" role="alert" id="divCreandoReporteError" style="display: none">
                    <h4 class="alert-heading">Generacion Grafico</h4>
                    <p>Se produjo un error al generar el reporte, favor reintentelo, si el problema persiste, comuniquese con su administrador.</p>
                </div>
            </div>

            <!--LIBROs-->

           @if(param.saldosClientes){
               <div class="row">
                <!--Saldos por clientes-->
                <div class="col-xl-4">
                    <div class="card border-0 bg-dark text-white mb-3 overflow-hidden h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-8">
                                    <div class="mb-3 text-grey">
                                        <b>CUENTAS POR CLIENTES</b>
                                        @*<span class="ml-2">
                                            <i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Total ventas del año 2020" data-placement="top" data-content=""></i>
                                        </span>*@
                                    </div>
                                    <!--Total Saldos Clientes-->
                                    <div class="d-flex mb-1">
                                        @if (bandera == "1")
                                        {
                                            <h1 class="mb-0"><span data-animation="number" data-value=""></span>$ @saldoTotal.ToString("N0")</h1>
                                        }
                                        else
                                        {
                                            <h1 class="mb-0"><span data-animation="number" data-value=""></span>$ @saldoTotal.ToString("N0")</h1>
                                        }
                                    </div>
                                    <!--Top 5 Clientes saldos-->
                                    @if (bandera == "1")
                                    {
                                        for (int i = 0; i < saldosCliente.Count; i++)
                                        {
                                            <div class="d-flex mb-1">
                                                <div class="d-flex align-items-center">
                                                    <i class="fa fa-circle text-red f-s-8 mr-2"></i>
                                                    @if (saldosCliente[i].nomaux.Length >= 27)
                                                    {
                                                        @saldosCliente[i].nomaux.Substring(0, 27)
                                                    }
                                                    else
                                                    {
                                                        @saldosCliente[i].nomaux
                                                    }

                                                </div>
                                                <div class="d-flex align-items-center ml-auto">
                                                    <div class="text-right f-w-600"><i class=""></i> <span data-animation="number" data-value="$ @saldosCliente[i].saldototal.ToString("N0")"></span></div>
                                                </div>
                                            </div>
                                            if (i == 4) { break; }
                                        }
                                    }
                                    else
                                    {
                                        for (int i = 0; i < saldosCliente.Count; i++)
                                        {
                                            <div class="d-flex mb-1">
                                                <div class="d-flex align-items-center">
                                                    <i class="fa fa-circle text-red f-s-8 mr-2"></i>
                                                    @if (saldosCliente[i].nomaux.Length >= 27)
                                                    {
                                                        @saldosCliente[i].nomaux.Substring(0, 27)
                                                    }
                                                    else
                                                    {
                                                        @saldosCliente[i].nomaux
                                                    }

                                                </div>
                                                <div class="d-flex align-items-center ml-auto">
                                                    <div class="text-right f-w-600"><i class=""></i> <span data-animation="number" data-value="$ @saldosCliente[i].saldototal.ToString("N0")"></span></div>
                                                </div>
                                            </div>
                                            if (i == 4) { break; }
                                        }
                                    }
                                    <hr class="bg-white-transparent-2" />
                                    <div class="d-flex mb-1">

                                        <button @Html.Raw(perfil == 3 ? "" : "disabled") type="button" id="descargarReporteSaldosClientes" class="btn btn-outline-success btn-xs" onclick="(crearReporteSaldosClientes('@CodigoVendedor'))" style="margin-right:5px;">
                                            <span class="fas fa-download fa-fw"></span> Descargar
                                        </button>
                                        <!--Ver detalles notas de venta por clientes y productos-->
                                        <!-- Button trigger modal wasap -->
                                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#clientesModal">
                                            Ver Más
                                        </button>

                                        <!-- Modal Clientes -->
                                        <div class="modal fade bd-example-modal-lg" id="clientesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle" style="color:black; font-size:20px; font-weight:bold">Cuentas - Clientes</h5>
                                                        <input class="form-control col-md-4 light-table-filter" data-table="order-table" type="text" placeholder="Buscar..." style="margin-left:50px" />
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-dark order-table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Codigo</th>
                                                                    <th scope="col">Nombre</th>
                                                                    <th scope="col" style="text-align:right">Saldo</th>
                                                                    <th scope="col"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @for (int i = 0; i < saldosCliente.Count; i++)
                                                                {
                                                                    if (saldosCliente[i].saldototal < 0)
                                                                    {
                                                                        <tr>

                                                                            {
                                                                            <td>@saldosCliente[i].codaux</td>

                                                                            <td>@saldosCliente[i].nomaux</td>
                                                                            <td style="text-align:right">@saldosCliente[i].saldototal.ToString("N0")</td>
                                                                            <td style="text-align:center">
                                                                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalSaldo" onclick="ObtenerSaldoClientes('@saldosCliente[i].rutaux','@saldosCliente[i].codaux', '@saldosCliente[i].nomaux', '@saldosCliente[i].saldototal')">Detalle</button>
                                                                            </td>

                                                                        </tr>

                                                                        total += saldosCliente[i].saldototal;
                                                                    }
                                                                }
                                                                <tr>
                                                                    <td></td>
                                                                    <td style="text-align:right">Total</td>
                                                                    <td style="text-align:right">$ @total.ToString("N0")</td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal Saldo por cliente -->
                                        <div class="modal fade bd-example-modal-lg" id="modalSaldo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="titleModalSaldo" style="color:Black; font-size:20px; font-weight:bold">Saldos</h5>
                                                        <input class="form-control col-md-4 light-table-filter" data-table="order-table2" type="text" placeholder="Buscar..." style="margin-left:50px" />
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-dark order-table2" id="tablaSaldos"></table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xl-12 col-lg-8">
                            <div class="bg-light text-dark">
                                <div id="apex-line-chart1"></div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
            }

            </br>
            @if (param.saldosProveedores) { 
            <div class="row">

                <div class="col-xl-4">
                    <div class="card border-0 bg-dark text-white mb-3 overflow-hidden h-100">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xl-12 col-lg-8">
                                    <div class="mb-3 text-grey">
                                        <b>CUENTAS POR PROVEEDOR</b>
                                        @*<span class="ml-2">
                                            <i class="fa fa-info-circle" data-toggle="popover" data-trigger="hover" data-title="Total ventas del año 2020" data-placement="top" data-content=""></i>
                                        </span>*@
                                    </div>
                                    <!--Total de notas de venta-->
                                    <div class="d-flex mb-1">
                                        @if (bandera == "1")
                                        {
                                            <h1 class="mb-0"><span data-animation="number" data-value=""></span>$ @saldoTotalProveedor.ToString("N0")</h1>
                                        }
                                        else
                                        {
                                            <h1 class="mb-0"><span data-animation="number" data-value=""></span>$ @saldoTotalProveedor.ToString("N0")</h1>
                                        }
                                    </div>
                                    <!--Top 5 Clientes saldos-->
                                    @if (bandera == "1")
                                    {
                                        for (int i = 0; i < saldosProveedor.Count; i++)
                                        {
                                            <div class="d-flex mb-1">
                                                <div class="d-flex align-items-center">
                                                    <i class="fa fa-circle text-red f-s-8 mr-2"></i>
                                                    @if (saldosProveedor[i].nomaux.Length >= 27)
                                                    {
                                                        @saldosProveedor[i].nomaux.Substring(0, 27)
                                                    }
                                                    else
                                                    {
                                                        @saldosProveedor[i].nomaux
                                                    }

                                                </div>
                                                <div class="d-flex align-items-center ml-auto">
                                                    <div class="text-right f-w-600"><i class=""></i> <span data-animation="number" data-value="$ @saldosProveedor[i].saldototal.ToString("N0")"></span></div>
                                                </div>
                                            </div>
                                            if (i == 4) { break; }
                                        }
                                    }
                                    else
                                    {
                                        for (int i = 0; i < saldosProveedor.Count; i++)
                                        {
                                            <div class="d-flex mb-1">
                                                <div class="d-flex align-items-center">
                                                    <i class="fa fa-circle text-red f-s-8 mr-2"></i>
                                                    @if (saldosProveedor[i].nomaux.Length >= 27)
                                                    {
                                                        @saldosProveedor[i].nomaux.Substring(0, 27)
                                                    }
                                                    else
                                                    {
                                                        @saldosProveedor[i].nomaux
                                                    }

                                                </div>
                                                <div class="d-flex align-items-center ml-auto">
                                                    <div class="text-right f-w-600"><i class=""></i> <span data-animation="number" data-value="$ @saldosProveedor[i].saldototal.ToString("N0")"></span></div>
                                                </div>
                                            </div>
                                            if (i == 4) { break; }
                                        }
                                    }
                                    <hr class="bg-white-transparent-2" />
                                    <div class="d-flex mb-1">

                                        <button @Html.Raw(perfil == 3 ? "" : "disabled") type="button" id="descargarReporteSaldosProveedores" class="btn btn-outline-success btn-xs" onclick="(crearReporteSaldosProveedores('@CodigoVendedor'))" style="margin-right:5px;">
                                            <span class="fas fa-download fa-fw"></span> Descargar
                                        </button>
                                        <!--Ver detalles notas de venta por clientes y productos-->
                                        <!-- Button trigger modal wasap -->
                                        <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#clientesModalProveedores">
                                            Ver Más
                                        </button>

                                        <!-- Modal Clientes -->
                                        <div class="modal fade bd-example-modal-lg" id="clientesModalProveedores" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle" style="color:black; font-size:20px; font-weight:bold">Cuentas - Proveedor </h5>
                                                        <input class="form-control col-md-4 light-table-filter" data-table="order-table" type="text" placeholder="Buscar..." style="margin-left:50px" />
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-dark order-table">
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col">Codigo</th>
                                                                    <th scope="col">Nombre</th>
                                                                    <th scope="col" style="text-align:right">Saldo</th>
                                                                    <th scope="col"></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @for (int i = 0; i < saldosProveedor.Count; i++)
                                                                {
                                                                    if (saldosProveedor[i].saldototal < 0)
                                                                    {
                                                                        <tr>

                                                                            {
                                                                            <td>@saldosProveedor[i].codaux</td>

                                                                            <td>@saldosProveedor[i].nomaux</td>
                                                                            <td style="text-align:right">@saldosProveedor[i].saldototal.ToString("N0")</td>
                                                                            <td style="text-align:center">
                                                                                <button type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#modalSaldoProveedor" onclick="ObtenerSaldoProveedor('@saldosProveedor[i].rutaux','@saldosProveedor[i].codaux', '@saldosProveedor[i].nomaux', '@saldosProveedor[i].saldototal')">Detalle</button>
                                                                            </td>

                                                                        </tr>

                                                                        totalProveedores += saldosProveedor[i].saldototal;
                                                                    }
                                                                }
                                                                <tr>
                                                                    <td></td>
                                                                    <td style="text-align:right">Total</td>
                                                                    <td style="text-align:right">$ @totalProveedores.ToString("N0")</td>
                                                                    <td></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Modal Saldo por cliente -->
                                        <div class="modal fade bd-example-modal-lg" id="modalSaldoProveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="titleModalSaldoProveedor" style="color:Black; font-size:20px; font-weight:bold">Saldos</h5>
                                                        <input class="form-control col-md-4 light-table-filter" data-table="order-table4" type="text" placeholder="Buscar..." style="margin-left:50px" />
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <table class="table table-dark order-table4" id="tablaSaldosProveedor"></table>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row">
                        <div class="col-xl-12 col-lg-8">
                            <div class="bg-light text-dark">
                                <div id="apex-line-chart2"></div>
                            </div>
                        </div>

                    </div>
                </div>



             </div>
            }

        </div>
    </div>



    <!-- ================== BEGIN BASE JS ================== -->
    <!-- ================== END BASE JS ================== -->
    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="~/Content/assets/plugins/d3/d3.min.js"></script>
    <script src="~/Content/assets/plugins/nvd3/build/nv.d3.js"></script>
    <script src="~/Content/assets/plugins/jvectormap-next/jquery-jvectormap.min.js"></script>
    <script src="~/Content/assets/plugins/jvectormap-next/jquery-jvectormap-world-mill.js"></script>
    <script src="~/Content/assets/plugins/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/Content/assets/plugins/moment/moment.js"></script>
    <script src="~/Content/assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/assets/js/demo/dashboard-v3.js"></script>
    <script src="~/Content/assets/js/demo/chart-apex.demo.js"></script>
    <script src="~/Content/assets/plugins/DataTables/media/js/jquery.dataTables.min.js"></script>
    <!-- ================== END PAGE LEVEL JS ================== -->

</body>
</html>



