﻿
@{
    ViewBag.Title = "MantenedorComisiones";
}

<form name="form_COnvertirdorArchivos" method="post" class="col-md-12" id="ff" action="" enctype="multipart/form-data">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Cargar comisiones</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><label for="File">Cargar archivo: </label></th>
                <th><input type="file" class="upload" name="UploadedFile" id="fileLoadDoc" accept=".xls, .xlsx" /></th>
                <th><button class="btn btn-primary btn-lg btn-block" id="btnUpFile" style="cursor: pointer;" />Cargar </th>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</form>
<script>
        var formdata = new FormData();
        var banderaArchivo = 0;
        $(function () {
            $('#btnUpFile').click(function () {
                if ($('#selectArea').val() == 0 || banderaArchivo == 0) {
                    alert("Favor seleccionar Area o seleccionar archivo");
                } else {
                    var Files = $("#fileLoadDoc").get(0);
                    activarLoadingBoton('btnUpFile');
                $.ajax({
                    url: '@Url.Action("UploadVentas", "MantenedorComisiones")',
                    type: "POST",
                    datatype: "JSON",
                    contentType: false,
                    processData: false,
                    data: formdata,
                    success: function (result) {
                        if (result.Verificador) {
                            desactivarLoadingBoton('btnUpFile');
                            fileLoad();
                            banderaArchivo = 0;
                            abrirConfirmacion("Usuario", result.Mensaje);
                        }
                        else
                        {
                            desactivarLoadingBoton('btnUpFile');
                            abrirError("Usuario", result.Mensaje);
                        }
                    }
                })}
            });
        });


               function fileLoad() {
            $('#txtfile').val("");
            $('#fileLoadDoc').val("");
            $('#btnFileLoad').val("");

        };

            $('input[type="file"]').change(function (e) {
                formdata = new FormData();
                var filename = e.target.files[0].name;
            $("#txtfile").val(filename);
            for (var i = 0; i < e.target.files.length; i++) {
               formdata.append(e.target.files[i].name, e.target.files[i]);
            }
            banderaArchivo = 1;
            });


</script>

